* {
  margin: 0px;
  padding: 0px;
}
.apple {
  width: 100%;
  height: 800px;
  position: absolute;
  top: 30px;
  left: 0px;
  background-color: cadetblue;
}
.apple .choose_color {
  width: 35vw;
  height: 600px;
  position: relative;
  top: 50px;
  left: 60vw;
  background-color: antiquewhite;
}
.apple .choose_color .space_black {
  width: 15vw;
  height: 50px;
  position: relative;
  top: 10px;
  left: 5vw;
  background-color: black;
}
.apple .choose_color .silver {
  width: 15vw;
  height: 50px;
  position: relative;
  top: 60px;
  left: 5vw;
  background-color: silver;
}
.apple .choose_color .gold {
  width: 15vw;
  height: 50px;
  position: relative;
  top: 150px;
  left: 5vw;
  background-color: gold;
}
.apple .choose_color .deep_purple {
  width: 15vw;
  height: 50px;
  position: relative;
  top: 200px;
  left: 5vw;
  background-color: purple;
}
.apple .color {
  width: 50vw;
  height: 600px;
  position: absolute;
  top: 50px;
  left: 5vw;
}
