* {
  margin: 0px;
  padding: 0px;
}
.hidden {
  visibility: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 5px;
  width: 1vw;
}
.american {
  z-index: 999;
  width: 100%;
  background-color: red;
  position: fixed;
  top: 90px;
  left: 0px;
  font-size: 1.5vw;
  font-family: sans-serif;
  text-align: center;
  color: white;
}
.black_1tb_fulldetails {
  width: 100%;
  height: 8300px;
  position: absolute;
  top: 100px;
  left: 0px;
}
.black_1tb_fulldetails h1 {
  font-size: 2vw;
  font-family: sans-serif;
  width: 45vw;
  position: absolute;
  top: 50px;
  left: 50vw;
}
.black_1tb_fulldetails .image_div {
  width: 45vw;
  height: 83%;
  position: fixed;
  top: 100px;
  left: 0vw;
  background-color: white;
}
.black_1tb_fulldetails .image_div div img {
  width: 25vw;
  height: auto;
  position: absolute;
  top: 50px;
  left: 10vw;
}
.black_1tb_fulldetails .image_div div .second {
  width: 80vw;
  top: -250px;
  left: -16vw;
}
.black_1tb_fulldetails .image_div div .third {
  width: 40vw;
  top: 100px;
}
.black_1tb_fulldetails .image_div div .fourth {
  width: 80vw;
  top: -150px;
  left: -16vw;
}
.black_1tb_fulldetails .image_div .swiper-button-next {
  font-weight: 700;
}
.black_1tb_fulldetails .image_div .swiper-button-prev {
  font-weight: 700;
}
.black_1tb_fulldetails .price_div {
  width: 25vw;
  height: content-fit;
  position: absolute;
  top: 410px;
  left: 70vw;
}
.black_1tb_fulldetails .price_div button {
  height: 40px;
  width: 13vw;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
  background-color: red;
  border: 1px solid red;
  font-size: 1.5vw;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}
.black_1tb_fulldetails .price_div .price {
  width: 0%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: white;
  overflow: hidden;
}
.black_1tb_fulldetails .price_div .price h1 {
  position: absolute;
  top: 100px;
  left: 0px;
  text-align: center;
  width: 100%;
}
.black_1tb_fulldetails .price_div .price img {
  width: 22px;
  height: auto;
  position: absolute;
  top: 100px;
  left: 90vw;
}
.black_1tb_fulldetails .price_div .price .price_btn {
  display: block;
  position: relative;
  top: 200px;
  left: 41vw;
  height: 45px;
  width: 20vw;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
  background-color: red;
  border: 1px solid red;
  font-size: 1.5vw;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  margin-bottom: 25px;
}
.black_1tb_fulldetails .highlights {
  width: 40vw;
  height: content-fit;
  position: absolute;
  top: 230px;
  left: 55vw;
}
.black_1tb_fulldetails .highlights h2 {
  font-size: 2vw;
  font-family: sans-serif;
  text-align: center;
  width: 45vw;
  height: 40px;
  border-bottom: 1px solid black;
  position: absolute;
  top: -80px;
  left: -2vw;
}
.black_1tb_fulldetails .highlights ul li h4 {
  font-size: 1.6vw;
  font-family: sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
}
.black_1tb_fulldetails .general {
  width: 52%;
  height: 530px;
  position: absolute;
  top: 500px;
  left: 48%;
  border-bottom: 1px solid grey;
}
.black_1tb_fulldetails .general h1 {
  text-align: center;
  font-size: 3.5vw;
  font-family: sans-serif;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0%;
}
.black_1tb_fulldetails .general h3 {
  position: relative;
  top: 120px;
  left: 2.5vw;
  font-size: 20px;
  font-family: sans-serif;
  width: fit-content;
  margin-bottom: 15px;
}
.black_1tb_fulldetails .general p {
  font-size: 16px;
  font-family: sans-serif;
  position: relative;
  top: 79px;
  left: 25vw;
  width: 22vw;
  overflow: hidden;
}
.black_1tb_fulldetails .display_features {
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 1050px;
  left: 0%;
  border-bottom: 1px solid gray;
}
.black_1tb_fulldetails .display_features h1 {
  text-align: center;
  font-size: 3.5vw;
  font-family: sans-serif;
}
.black_1tb_fulldetails .display_features .display_feature {
  width: 50vw;
  height: auto;
  position: absolute;
  top: 160px;
  left: 35vw;
}
.black_1tb_fulldetails .display_features .display_feature h2 {
  position: relative;
  top: 0px;
  left: 15vw;
  font-size: 20px;
  font-family: sans-serif;
  width: fit-content;
  margin-bottom: 16px;
}
.black_1tb_fulldetails .display_features .display_feature p {
  font-size: 16px;
  font-family: sans-serif;
  position: relative;
  top: -42px;
  left: 33vw;
  width: 30vw;
  overflow: hidden;
}
.black_1tb_fulldetails .display_features .display_feature .hdr {
  width: 20vw;
  left: 35vw;
}
.black_1tb_fulldetails .ram_feature {
  width: 52%;
  height: 280px;
  position: absolute;
  top: 1000px;
  left: 48%;
  border-bottom: 1px solid grey;
}
.black_1tb_fulldetails .ram_feature h1 {
  position: absolute;
  top: 50px;
  left: 0px;
  text-align: center;
  font-size: 42px;
  font-family: sans-serif;
}
.black_1tb_fulldetails .ram_feature h4 {
  position: relative;
  top: 150px;
  left: 3vw;
  font-size: 20px;
  font-family: sans-serif;
  width: fit-content;
  margin-bottom: 16px;
}
.black_1tb_fulldetails .ram_feature p {
  font-size: 16px;
  font-family: sans-serif;
  position: relative;
  top: 98px;
  left: 21vw;
  width: 30vw;
  overflow: hidden;
}
.black_1tb_fulldetails .os_processor {
  width: 52%;
  height: 820px;
  position: absolute;
  top: 1300px;
  left: 48%;
  border-bottom: 1px solid grey;
}
.black_1tb_fulldetails .os_processor h1 {
  position: absolute;
  top: 50px;
  left: 0px;
  text-align: center;
  font-size: 42px;
  font-family: sans-serif;
}
.black_1tb_fulldetails .os_processor h5 {
  position: relative;
  top: 150px;
  left: 3vw;
  font-size: 20px;
  font-family: sans-serif;
  width: fit-content;
  margin-bottom: 16px;
}
.black_1tb_fulldetails .os_processor p {
  font-size: 16px;
  font-family: sans-serif;
  position: relative;
  top: 112px;
  left: 21vw;
  width: 30vw;
  overflow: hidden;
}
.black_1tb_fulldetails .os_processor button {
  height: 40px;
  width: 19vw;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
  background-color: red;
  border: 1px solid red;
  font-size: 1.5vw;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
  position: absolute;
  top: 730px;
  left: 16vw;
}
.black_1tb_fulldetails .memory_feature {
  width: 52%;
  height: 300px;
  position: absolute;
  top: 2120px;
  left: 48%;
  border-bottom: 1px solid grey;
}
.black_1tb_fulldetails .memory_feature h1 {
  position: absolute;
  top: 50px;
  left: 0px;
  text-align: center;
  font-size: 42px;
  font-family: sans-serif;
}
.black_1tb_fulldetails .memory_feature h2 {
  position: relative;
  top: 200px;
  left: 3vw;
  font-size: 20px;
  font-family: sans-serif;
  width: fit-content;
  margin-bottom: 16px;
}
.black_1tb_fulldetails .memory_feature p {
  font-size: 16px;
  font-family: sans-serif;
  position: relative;
  top: 162px;
  left: 21vw;
  width: 30vw;
  overflow: hidden;
}
.black_1tb_fulldetails .camera_feature {
  width: 52%;
  height: 2050px;
  position: absolute;
  top: 2420px;
  left: 48%;
  border-bottom: 1px solid grey;
}
.black_1tb_fulldetails .camera_feature h1 {
  position: absolute;
  top: 50px;
  left: 0px;
  text-align: center;
  font-size: 42px;
  font-family: sans-serif;
}
.black_1tb_fulldetails .camera_feature h6 {
  position: relative;
  top: 150px;
  left: 0vw;
  font-size: 20px;
  font-family: sans-serif;
  text-align: left;
  width: 19vw;
  margin-bottom: 16px;
}
.black_1tb_fulldetails .camera_feature p {
  font-size: 16px;
  font-family: sans-serif;
  position: relative;
  top: 106px;
  left: 19vw;
  width: 30vw;
  overflow: hidden;
  padding-bottom: 3px;
}
.black_1tb_fulldetails .camera_feature button {
  height: 40px;
  width: 19vw;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
  background-color: red;
  border: 1px solid red;
  font-size: 1.5vw;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
  position: absolute;
  top: 1950px;
  left: 16vw;
}
.black_1tb_fulldetails .call_feature {
  width: 52%;
  height: 300px;
  position: absolute;
  top: 4480px;
  left: 48%;
  border-bottom: 1px solid grey;
}
.black_1tb_fulldetails .call_feature h1 {
  position: absolute;
  top: 50px;
  left: 0px;
  text-align: center;
  font-size: 42px;
  font-family: sans-serif;
}
.black_1tb_fulldetails .call_feature h5 {
  position: relative;
  top: 150px;
  left: 0vw;
  font-size: 20px;
  font-family: sans-serif;
  text-align: left;
  width: 19vw;
  margin-bottom: 16px;
}
.black_1tb_fulldetails .call_feature p {
  font-size: 16px;
  font-family: sans-serif;
  position: relative;
  top: 112px;
  left: 19vw;
  width: 30vw;
  overflow: hidden;
  padding-bottom: 3px;
}
.black_1tb_fulldetails .connectivity_feature {
  width: 52%;
  height: 785px;
  position: absolute;
  top: 4780px;
  left: 48%;
}
.black_1tb_fulldetails .connectivity_feature h4 {
  position: relative;
  top: 150px;
  left: 0vw;
  font-size: 20px;
  font-family: sans-serif;
  text-align: left;
  width: 19vw;
  margin-bottom: 16px;
}
.black_1tb_fulldetails .multimedia_feature {
  width: 52%;
  height: 325px;
  position: absolute;
  top: 5580px;
  left: 48%;
}
.black_1tb_fulldetails .other_details {
  width: 52%;
  height: 735px;
  position: absolute;
  top: 5900px;
  left: 48%;
}
.black_1tb_fulldetails .design {
  width: 52%;
  height: 565px;
  position: absolute;
  top: 6650px;
  left: 48%;
}
.a {
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 8210px;
  left: 0px;
  background-color: aqua;
}
@media only screen and (min-width: 250px) and (max-width: 500px) {
  .american {
    font-size: 10px;
  }
  .black_1tb_fulldetails {
    width: 100%;
    height: 15300px;
    position: absolute;
    top: 100px;
    left: 0px;
  }
  .black_1tb_fulldetails h1 {
    font-size: 28px;
    width: 90vw;
    height: auto;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 5vw;
  }
  .black_1tb_fulldetails .image_div {
    width: 100%;
    height: 480px;
    position: absolute;
    top: 120px;
    left: 0vw;
    background-color: white;
  }
  .black_1tb_fulldetails .image_div div img {
    width: 70vw;
    height: auto;
    position: absolute;
    top: 50px;
    left: 15vw;
  }
  .black_1tb_fulldetails .image_div div .second {
    width: 190vw;
    top: -150px;
    left: -50vw;
  }
  .black_1tb_fulldetails .image_div div .third {
    width: 120vw;
    top: 150px;
    left: 0vw;
  }
  .black_1tb_fulldetails .image_div div .fourth {
    width: 160vw;
    top: 50px;
    left: -30vw;
  }
  .black_1tb_fulldetails .image_div .swiper-button-next {
    font-weight: 700;
    visibility: hidden;
  }
  .black_1tb_fulldetails .image_div .swiper-button-prev {
    font-weight: 700;
    visibility: hidden;
  }
  .black_1tb_fulldetails .price_div {
    position: absolute;
    top: 620px;
    left: 25vw;
  }
  .black_1tb_fulldetails .price_div button {
    width: 50vw;
    font-size: 24px;
    height: 60px;
  }
  .black_1tb_fulldetails .price_div .price img {
    width: 10vw;
    height: auto;
    position: absolute;
    top: 650px;
    left: 45vw;
  }
  .black_1tb_fulldetails .price_div .price .price_btn {
    width: 64vw;
    font-size: 5vw;
    height: 60px;
    left: 18vw;
    top: 300px;
  }
  .black_1tb_fulldetails .highlights {
    position: absolute;
    top: 820px;
    left: 5vw;
  }
  .black_1tb_fulldetails .highlights h2 {
    font-size: 6.9vw;
    width: 90vw;
  }
  .black_1tb_fulldetails .highlights ul li {
    position: relative;
    top: 0px;
    left: 5vw;
  }
  .black_1tb_fulldetails .highlights ul li h4 {
    width: 90vw;
    font-size: 3.9vw;
  }
  .black_1tb_fulldetails .general {
    width: 100%;
    height: auto;
    position: absolute;
    top: 990px;
    left: 0px;
    border-bottom: 1px solid grey;
  }
  .black_1tb_fulldetails .general h1 {
    font-size: 6.9vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .general h3 {
    position: relative;
    top: 100px;
    left: 5vw;
    width: 35vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .general p {
    position: relative;
    top: 65px;
    left: 40vw;
    width: 55vw;
    font-size: 3.8vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features {
    width: 100%;
    height: 8000px;
    position: absolute;
    top: 1380px;
    left: 0px;
    border-bottom: 0px;
  }
  .black_1tb_fulldetails .display_features h1 {
    font-size: 6.9vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features .display_feature {
    width: 100%;
    height: auto;
    position: absolute;
    top: -25px;
    left: 0px;
    border-bottom: 1px solid grey;
  }
  .black_1tb_fulldetails .display_features .display_feature h2 {
    position: relative;
    top: 100px;
    left: 5vw;
    width: 33vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features .display_feature p {
    position: relative;
    top: 65px;
    left: 40vw;
    width: 55vw;
    font-size: 3.8vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .ram_feature {
    width: 100%;
    height: auto;
    position: absolute;
    top: 1220px;
    left: 0px;
  }
  .black_1tb_fulldetails .ram_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .ram_feature h4 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 35vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .ram_feature p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor {
    width: 100%;
    height: 1390px;
    position: absolute;
    top: 1770px;
    left: 0px;
  }
  .black_1tb_fulldetails .os_processor h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .os_processor h5 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 33vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor button {
    width: 50vw;
    position: absolute;
    top: 1250px;
    left: 25vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .memory_feature {
    width: 100%;
    height: 270px;
    position: absolute;
    top: 3170px;
    left: 0px;
  }
  .black_1tb_fulldetails .memory_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .memory_feature h2 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 43vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .memory_feature p {
    position: relative;
    top: 112px;
    left: 50vw;
    width: 40vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature {
    width: 100%;
    height: 3810px;
    position: absolute;
    top: 3470px;
    left: 0px;
  }
  .black_1tb_fulldetails .camera_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .camera_feature h6 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 33.5vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature button {
    width: 50vw;
    position: absolute;
    top: 3690px;
    left: 25vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .call_feature {
    width: 100%;
    height: 360px;
    position: absolute;
    top: 7300px;
    left: 0px;
  }
  .black_1tb_fulldetails .call_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .call_feature h5 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 37vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .call_feature p {
    position: relative;
    top: 105px;
    left: 44vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .connectivity_feature {
    width: 100%;
    height: 1010px;
    position: absolute;
    top: 7700px;
    left: 0px;
  }
  .black_1tb_fulldetails .connectivity_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .connectivity_feature h4 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 37vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .multimedia_feature {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 8740px;
    left: 0px;
  }
  .black_1tb_fulldetails .multimedia_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .other_details {
    width: 100%;
    height: 1250px;
    position: absolute;
    top: 9180px;
    left: 0px;
  }
  .black_1tb_fulldetails .other_details h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .design {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 10460px;
    left: 0px;
  }
  .black_1tb_fulldetails .design h1 {
    width: 100%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 350px) {
  .american {
    font-size: 10px;
  }
  .black_1tb_fulldetails {
    width: 100%;
    height: 15300px;
    position: absolute;
    top: 100px;
    left: 0px;
  }
  .black_1tb_fulldetails h1 {
    font-size: 28px;
    width: 90vw;
    height: auto;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 5vw;
  }
  .black_1tb_fulldetails .image_div {
    width: 100%;
    height: 480px;
    position: absolute;
    top: 120px;
    left: 0vw;
    background-color: white;
  }
  .black_1tb_fulldetails .image_div div img {
    width: 70vw;
    height: auto;
    position: absolute;
    top: 50px;
    left: 15vw;
  }
  .black_1tb_fulldetails .image_div div .second {
    width: 190vw;
    top: -150px;
    left: -50vw;
  }
  .black_1tb_fulldetails .image_div div .third {
    width: 120vw;
    top: 150px;
    left: 0vw;
  }
  .black_1tb_fulldetails .image_div div .fourth {
    width: 160vw;
    top: 50px;
    left: -30vw;
  }
  .black_1tb_fulldetails .image_div .swiper-button-next {
    font-weight: 700;
    visibility: hidden;
  }
  .black_1tb_fulldetails .image_div .swiper-button-prev {
    font-weight: 700;
    visibility: hidden;
  }
  .black_1tb_fulldetails .price_div {
    position: absolute;
    top: 620px;
    left: 25vw;
  }
  .black_1tb_fulldetails .price_div button {
    width: 50vw;
    font-size: 24px;
    height: 60px;
  }
  .black_1tb_fulldetails .price_div .price img {
    width: 10vw;
    height: auto;
    position: absolute;
    top: 650px;
    left: 45vw;
  }
  .black_1tb_fulldetails .price_div .price .price_btn {
    width: 64vw;
    font-size: 5vw;
    height: 60px;
    left: 18vw;
    top: 300px;
  }
  .black_1tb_fulldetails .highlights {
    position: absolute;
    top: 820px;
    left: 5vw;
  }
  .black_1tb_fulldetails .highlights h2 {
    font-size: 6.9vw;
    width: 90vw;
  }
  .black_1tb_fulldetails .highlights ul li {
    position: relative;
    top: 0px;
    left: 5vw;
  }
  .black_1tb_fulldetails .highlights ul li h4 {
    width: 90vw;
    font-size: 3.9vw;
  }
  .black_1tb_fulldetails .general {
    width: 100%;
    height: auto;
    position: absolute;
    top: 990px;
    left: 0px;
    border-bottom: 1px solid grey;
  }
  .black_1tb_fulldetails .general h1 {
    font-size: 6.9vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .general h3 {
    position: relative;
    top: 100px;
    left: 5vw;
    width: 35vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .general p {
    position: relative;
    top: 65px;
    left: 40vw;
    width: 55vw;
    font-size: 3.8vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features {
    width: 100%;
    height: auto;
    position: absolute;
    top: 1425px;
    left: 0px;
    border-bottom: 0px;
  }
  .black_1tb_fulldetails .display_features h1 {
    font-size: 6.9vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features .display_feature {
    width: 100%;
    height: auto;
    position: absolute;
    top: -25px;
    left: 0px;
    border-bottom: 1px solid grey;
  }
  .black_1tb_fulldetails .display_features .display_feature h2 {
    position: relative;
    top: 100px;
    left: 5vw;
    width: 33vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features .display_feature p {
    position: relative;
    top: 65px;
    left: 40vw;
    width: 55vw;
    font-size: 3.8vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .ram_feature {
    width: 100%;
    height: auto;
    position: absolute;
    top: 1220px;
    left: 0px;
  }
  .black_1tb_fulldetails .ram_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .ram_feature h4 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 35vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .ram_feature p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor {
    width: 100%;
    height: 1390px;
    position: absolute;
    top: 1770px;
    left: 0px;
  }
  .black_1tb_fulldetails .os_processor h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .os_processor h5 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 33vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor button {
    width: 50vw;
    position: absolute;
    top: 1250px;
    left: 25vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .memory_feature {
    width: 100%;
    height: 270px;
    position: absolute;
    top: 3170px;
    left: 0px;
  }
  .black_1tb_fulldetails .memory_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .memory_feature h2 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 43vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .memory_feature p {
    position: relative;
    top: 112px;
    left: 50vw;
    width: 40vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature {
    width: 100%;
    height: 3810px;
    position: absolute;
    top: 3470px;
    left: 0px;
  }
  .black_1tb_fulldetails .camera_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .camera_feature h6 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 33.5vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature button {
    width: 50vw;
    position: absolute;
    top: 3690px;
    left: 25vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .call_feature {
    width: 100%;
    height: 360px;
    position: absolute;
    top: 7300px;
    left: 0px;
  }
  .black_1tb_fulldetails .call_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .call_feature h5 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 37vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .call_feature p {
    position: relative;
    top: 105px;
    left: 44vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .connectivity_feature {
    width: 100%;
    height: 1010px;
    position: absolute;
    top: 7700px;
    left: 0px;
  }
  .black_1tb_fulldetails .connectivity_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .connectivity_feature h4 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 37vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .multimedia_feature {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 8740px;
    left: 0px;
  }
  .black_1tb_fulldetails .multimedia_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .other_details {
    width: 100%;
    height: 1250px;
    position: absolute;
    top: 9180px;
    left: 0px;
  }
  .black_1tb_fulldetails .other_details h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .design {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 10460px;
    left: 0px;
  }
  .black_1tb_fulldetails .design h1 {
    width: 100%;
  }
}
@media only screen and (min-width: 350px) and (max-width: 400px) {
  .american {
    font-size: 10px;
  }
  .black_1tb_fulldetails {
    width: 100%;
    height: 15300px;
    position: absolute;
    top: 100px;
    left: 0px;
  }
  .black_1tb_fulldetails h1 {
    font-size: 28px;
    width: 90vw;
    height: auto;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 5vw;
  }
  .black_1tb_fulldetails .image_div {
    width: 100%;
    height: 480px;
    position: absolute;
    top: 120px;
    left: 0vw;
    background-color: white;
  }
  .black_1tb_fulldetails .image_div div img {
    width: 70vw;
    height: auto;
    position: absolute;
    top: 50px;
    left: 15vw;
  }
  .black_1tb_fulldetails .image_div div .second {
    width: 190vw;
    top: -150px;
    left: -50vw;
  }
  .black_1tb_fulldetails .image_div div .third {
    width: 120vw;
    top: 150px;
    left: 0vw;
  }
  .black_1tb_fulldetails .image_div div .fourth {
    width: 160vw;
    top: 50px;
    left: -30vw;
  }
  .black_1tb_fulldetails .image_div .swiper-button-next {
    font-weight: 700;
    visibility: hidden;
  }
  .black_1tb_fulldetails .image_div .swiper-button-prev {
    font-weight: 700;
    visibility: hidden;
  }
  .black_1tb_fulldetails .price_div {
    position: absolute;
    top: 620px;
    left: 25vw;
  }
  .black_1tb_fulldetails .price_div button {
    width: 50vw;
    font-size: 24px;
    height: 60px;
  }
  .black_1tb_fulldetails .price_div .price img {
    width: 10vw;
    height: auto;
    position: absolute;
    top: 650px;
    left: 45vw;
  }
  .black_1tb_fulldetails .price_div .price .price_btn {
    width: 64vw;
    font-size: 5vw;
    height: 60px;
    left: 18vw;
    top: 300px;
  }
  .black_1tb_fulldetails .highlights {
    position: absolute;
    top: 820px;
    left: 5vw;
  }
  .black_1tb_fulldetails .highlights h2 {
    font-size: 6.9vw;
    width: 90vw;
  }
  .black_1tb_fulldetails .highlights ul li {
    position: relative;
    top: 0px;
    left: 5vw;
  }
  .black_1tb_fulldetails .highlights ul li h4 {
    width: 90vw;
    font-size: 3.9vw;
  }
  .black_1tb_fulldetails .general {
    width: 100%;
    height: auto;
    position: absolute;
    top: 990px;
    left: 0px;
    border-bottom: 1px solid grey;
  }
  .black_1tb_fulldetails .general h1 {
    font-size: 6.9vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .general h3 {
    position: relative;
    top: 100px;
    left: 5vw;
    width: 35vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .general p {
    position: relative;
    top: 65px;
    left: 40vw;
    width: 55vw;
    font-size: 3.8vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features {
    width: 100%;
    height: auto;
    position: absolute;
    top: 1465px;
    left: 0px;
    border-bottom: 0px;
  }
  .black_1tb_fulldetails .display_features h1 {
    font-size: 6.9vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features .display_feature {
    width: 100%;
    height: auto;
    position: absolute;
    top: -25px;
    left: 0px;
    border-bottom: 1px solid grey;
  }
  .black_1tb_fulldetails .display_features .display_feature h2 {
    position: relative;
    top: 100px;
    left: 5vw;
    width: 33vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features .display_feature p {
    position: relative;
    top: 65px;
    left: 40vw;
    width: 55vw;
    font-size: 3.8vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .ram_feature {
    width: 100%;
    height: auto;
    position: absolute;
    top: 1220px;
    left: 0px;
  }
  .black_1tb_fulldetails .ram_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .ram_feature h4 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 35vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .ram_feature p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor {
    width: 100%;
    height: 1390px;
    position: absolute;
    top: 1770px;
    left: 0px;
  }
  .black_1tb_fulldetails .os_processor h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .os_processor h5 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 33vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor button {
    width: 50vw;
    position: absolute;
    top: 1250px;
    left: 25vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .memory_feature {
    width: 100%;
    height: 270px;
    position: absolute;
    top: 3170px;
    left: 0px;
  }
  .black_1tb_fulldetails .memory_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .memory_feature h2 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 43vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .memory_feature p {
    position: relative;
    top: 112px;
    left: 50vw;
    width: 40vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature {
    width: 100%;
    height: 3810px;
    position: absolute;
    top: 3470px;
    left: 0px;
  }
  .black_1tb_fulldetails .camera_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .camera_feature h6 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 33.5vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature button {
    width: 50vw;
    position: absolute;
    top: 3690px;
    left: 25vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .call_feature {
    width: 100%;
    height: 360px;
    position: absolute;
    top: 7300px;
    left: 0px;
  }
  .black_1tb_fulldetails .call_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .call_feature h5 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 37vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .call_feature p {
    position: relative;
    top: 105px;
    left: 44vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .connectivity_feature {
    width: 100%;
    height: 1010px;
    position: absolute;
    top: 7700px;
    left: 0px;
  }
  .black_1tb_fulldetails .connectivity_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .connectivity_feature h4 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 37vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .multimedia_feature {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 8740px;
    left: 0px;
  }
  .black_1tb_fulldetails .multimedia_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .other_details {
    width: 100%;
    height: 1250px;
    position: absolute;
    top: 9180px;
    left: 0px;
  }
  .black_1tb_fulldetails .other_details h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .design {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 10460px;
    left: 0px;
  }
  .black_1tb_fulldetails .design h1 {
    width: 100%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 450px) {
  .american {
    font-size: 10px;
  }
  .black_1tb_fulldetails {
    width: 100%;
    height: 15300px;
    position: absolute;
    top: 100px;
    left: 0px;
  }
  .black_1tb_fulldetails h1 {
    font-size: 28px;
    width: 90vw;
    height: auto;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 5vw;
  }
  .black_1tb_fulldetails .image_div {
    width: 100%;
    height: 480px;
    position: absolute;
    top: 120px;
    left: 0vw;
    background-color: white;
  }
  .black_1tb_fulldetails .image_div div img {
    width: 70vw;
    height: auto;
    position: absolute;
    top: 50px;
    left: 15vw;
  }
  .black_1tb_fulldetails .image_div div .second {
    width: 190vw;
    top: -150px;
    left: -50vw;
  }
  .black_1tb_fulldetails .image_div div .third {
    width: 120vw;
    top: 150px;
    left: 0vw;
  }
  .black_1tb_fulldetails .image_div div .fourth {
    width: 160vw;
    top: 50px;
    left: -30vw;
  }
  .black_1tb_fulldetails .image_div .swiper-button-next {
    font-weight: 700;
    visibility: hidden;
  }
  .black_1tb_fulldetails .image_div .swiper-button-prev {
    font-weight: 700;
    visibility: hidden;
  }
  .black_1tb_fulldetails .price_div {
    position: absolute;
    top: 620px;
    left: 25vw;
  }
  .black_1tb_fulldetails .price_div button {
    width: 50vw;
    font-size: 24px;
    height: 60px;
  }
  .black_1tb_fulldetails .price_div .price img {
    width: 10vw;
    height: auto;
    position: absolute;
    top: 650px;
    left: 45vw;
  }
  .black_1tb_fulldetails .price_div .price .price_btn {
    width: 64vw;
    font-size: 5vw;
    height: 60px;
    left: 18vw;
    top: 300px;
  }
  .black_1tb_fulldetails .highlights {
    position: absolute;
    top: 820px;
    left: 5vw;
  }
  .black_1tb_fulldetails .highlights h2 {
    font-size: 6.9vw;
    width: 90vw;
  }
  .black_1tb_fulldetails .highlights ul li {
    position: relative;
    top: 0px;
    left: 5vw;
  }
  .black_1tb_fulldetails .highlights ul li h4 {
    width: 90vw;
    font-size: 3.9vw;
  }
  .black_1tb_fulldetails .general {
    width: 100%;
    height: auto;
    position: absolute;
    top: 990px;
    left: 0px;
    border-bottom: 1px solid grey;
  }
  .black_1tb_fulldetails .general h1 {
    font-size: 6.9vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .general h3 {
    position: relative;
    top: 100px;
    left: 5vw;
    width: 35vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .general p {
    position: relative;
    top: 65px;
    left: 40vw;
    width: 55vw;
    font-size: 3.8vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features {
    width: 100%;
    height: auto;
    position: absolute;
    top: 1510px;
    left: 0px;
    border-bottom: 0px;
  }
  .black_1tb_fulldetails .display_features h1 {
    font-size: 6.9vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features .display_feature {
    width: 100%;
    height: auto;
    position: absolute;
    top: -10px;
    left: 0px;
    border-bottom: 1px solid grey;
  }
  .black_1tb_fulldetails .display_features .display_feature h2 {
    position: relative;
    top: 100px;
    left: 5vw;
    width: 33vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features .display_feature p {
    position: relative;
    top: 65px;
    left: 40vw;
    width: 55vw;
    font-size: 3.8vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .ram_feature {
    width: 100%;
    height: auto;
    position: absolute;
    top: 1220px;
    left: 0px;
  }
  .black_1tb_fulldetails .ram_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .ram_feature h4 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 35vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .ram_feature p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor {
    width: 100%;
    height: 1390px;
    position: absolute;
    top: 1770px;
    left: 0px;
  }
  .black_1tb_fulldetails .os_processor h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .os_processor h5 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 33vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor button {
    width: 50vw;
    position: absolute;
    top: 1250px;
    left: 25vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .memory_feature {
    width: 100%;
    height: 270px;
    position: absolute;
    top: 3170px;
    left: 0px;
  }
  .black_1tb_fulldetails .memory_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .memory_feature h2 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 43vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .memory_feature p {
    position: relative;
    top: 112px;
    left: 50vw;
    width: 40vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature {
    width: 100%;
    height: 3810px;
    position: absolute;
    top: 3470px;
    left: 0px;
  }
  .black_1tb_fulldetails .camera_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .camera_feature h6 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 33.5vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature button {
    width: 50vw;
    position: absolute;
    top: 3690px;
    left: 25vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .call_feature {
    width: 100%;
    height: 360px;
    position: absolute;
    top: 7300px;
    left: 0px;
  }
  .black_1tb_fulldetails .call_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .call_feature h5 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 37vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .call_feature p {
    position: relative;
    top: 105px;
    left: 44vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .connectivity_feature {
    width: 100%;
    height: 1010px;
    position: absolute;
    top: 7700px;
    left: 0px;
  }
  .black_1tb_fulldetails .connectivity_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .connectivity_feature h4 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 37vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .multimedia_feature {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 8740px;
    left: 0px;
  }
  .black_1tb_fulldetails .multimedia_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .other_details {
    width: 100%;
    height: 1250px;
    position: absolute;
    top: 9180px;
    left: 0px;
  }
  .black_1tb_fulldetails .other_details h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .design {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 10460px;
    left: 0px;
  }
  .black_1tb_fulldetails .design h1 {
    width: 100%;
  }
}
@media only screen and (min-width: 450px) and (max-width: 500px) {
  .american {
    font-size: 10px;
  }
  .black_1tb_fulldetails {
    width: 100%;
    height: 15300px;
    position: absolute;
    top: 100px;
    left: 0px;
  }
  .black_1tb_fulldetails h1 {
    font-size: 28px;
    width: 90vw;
    height: auto;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 5vw;
  }
  .black_1tb_fulldetails .image_div {
    width: 100%;
    height: 480px;
    position: absolute;
    top: 120px;
    left: 0vw;
    background-color: white;
  }
  .black_1tb_fulldetails .image_div div img {
    width: 70vw;
    height: auto;
    position: absolute;
    top: 50px;
    left: 15vw;
  }
  .black_1tb_fulldetails .image_div div .second {
    width: 190vw;
    top: -150px;
    left: -50vw;
  }
  .black_1tb_fulldetails .image_div div .third {
    width: 120vw;
    top: 150px;
    left: 0vw;
  }
  .black_1tb_fulldetails .image_div div .fourth {
    width: 160vw;
    top: 50px;
    left: -30vw;
  }
  .black_1tb_fulldetails .image_div .swiper-button-next {
    font-weight: 700;
    visibility: hidden;
  }
  .black_1tb_fulldetails .image_div .swiper-button-prev {
    font-weight: 700;
    visibility: hidden;
  }
  .black_1tb_fulldetails .price_div {
    position: absolute;
    top: 620px;
    left: 25vw;
  }
  .black_1tb_fulldetails .price_div button {
    width: 50vw;
    font-size: 24px;
    height: 60px;
  }
  .black_1tb_fulldetails .price_div .price img {
    width: 10vw;
    height: auto;
    position: absolute;
    top: 650px;
    left: 45vw;
  }
  .black_1tb_fulldetails .price_div .price .price_btn {
    width: 64vw;
    font-size: 5vw;
    height: 60px;
    left: 18vw;
    top: 300px;
  }
  .black_1tb_fulldetails .highlights {
    position: absolute;
    top: 820px;
    left: 5vw;
  }
  .black_1tb_fulldetails .highlights h2 {
    font-size: 6.9vw;
    width: 90vw;
  }
  .black_1tb_fulldetails .highlights ul li {
    position: relative;
    top: 0px;
    left: 5vw;
  }
  .black_1tb_fulldetails .highlights ul li h4 {
    width: 90vw;
    font-size: 3.9vw;
  }
  .black_1tb_fulldetails .general {
    width: 100%;
    height: auto;
    position: absolute;
    top: 990px;
    left: 0px;
    border-bottom: 1px solid grey;
  }
  .black_1tb_fulldetails .general h1 {
    font-size: 6.9vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .general h3 {
    position: relative;
    top: 100px;
    left: 5vw;
    width: 35vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .general p {
    position: relative;
    top: 65px;
    left: 40vw;
    width: 55vw;
    font-size: 3.8vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features {
    width: 100%;
    height: auto;
    position: absolute;
    top: 1570px;
    left: 0px;
    border-bottom: 0px;
  }
  .black_1tb_fulldetails .display_features h1 {
    font-size: 6.9vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features .display_feature {
    width: 100%;
    height: auto;
    position: absolute;
    top: -10px;
    left: 0px;
    border-bottom: 1px solid grey;
  }
  .black_1tb_fulldetails .display_features .display_feature h2 {
    position: relative;
    top: 100px;
    left: 5vw;
    width: 33vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .display_features .display_feature p {
    position: relative;
    top: 65px;
    left: 40vw;
    width: 55vw;
    font-size: 3.8vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .ram_feature {
    width: 100%;
    height: auto;
    position: absolute;
    top: 1220px;
    left: 0px;
  }
  .black_1tb_fulldetails .ram_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .ram_feature h4 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 35vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .ram_feature p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor {
    width: 100%;
    height: 1390px;
    position: absolute;
    top: 1770px;
    left: 0px;
  }
  .black_1tb_fulldetails .os_processor h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .os_processor h5 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 33vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .os_processor button {
    width: 50vw;
    position: absolute;
    top: 1250px;
    left: 25vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .memory_feature {
    width: 100%;
    height: 270px;
    position: absolute;
    top: 3170px;
    left: 0px;
  }
  .black_1tb_fulldetails .memory_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .memory_feature h2 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 43vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .memory_feature p {
    position: relative;
    top: 112px;
    left: 50vw;
    width: 40vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature {
    width: 100%;
    height: 3810px;
    position: absolute;
    top: 3470px;
    left: 0px;
  }
  .black_1tb_fulldetails .camera_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .camera_feature h6 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 33.5vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature p {
    position: relative;
    top: 105px;
    left: 40vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .camera_feature button {
    width: 50vw;
    position: absolute;
    top: 3690px;
    left: 25vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .call_feature {
    width: 100%;
    height: 360px;
    position: absolute;
    top: 7300px;
    left: 0px;
  }
  .black_1tb_fulldetails .call_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .call_feature h5 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 37vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .call_feature p {
    position: relative;
    top: 105px;
    left: 44vw;
    width: 55vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .connectivity_feature {
    width: 100%;
    height: 1010px;
    position: absolute;
    top: 7700px;
    left: 0px;
  }
  .black_1tb_fulldetails .connectivity_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .connectivity_feature h4 {
    position: relative;
    top: 150px;
    left: 5vw;
    width: 37vw;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .black_1tb_fulldetails .multimedia_feature {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 8740px;
    left: 0px;
  }
  .black_1tb_fulldetails .multimedia_feature h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .other_details {
    width: 100%;
    height: 1250px;
    position: absolute;
    top: 9180px;
    left: 0px;
  }
  .black_1tb_fulldetails .other_details h1 {
    width: 100%;
  }
  .black_1tb_fulldetails .design {
    width: 100%;
    height: 650px;
    position: absolute;
    top: 10460px;
    left: 0px;
  }
  .black_1tb_fulldetails .design h1 {
    width: 100%;
  }
}
