*{
    margin:0px;
    padding:0px;
}
.section_style(@width,@height,@position,@top,@left){
    width:@width;
    height:@height;
    position: @position;
    top:@top;
    left:@left;
}
.img_style(@width,@height,@position,@top,@left){
    width:@width;
    height:@height;
    position: @position;
    top:@top;
    left:@left;
}
.position_css(@position, @top, @left){
    position: @position;
    top:@top;
    left:@left;
}
.font_css(@font){
    font-size: @font;
    font-family: sans-serif;
}
.button(@height, @width, @margin, @background, @radius,){
    height:@height;
    width:@width;
    border-radius:@radius;
    border:1px solid black;
    margin:@margin;
    background-color: @background;
}
.hidden{
    visibility: hidden;
}
::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 5px;
    width:1vw;
}
.american{
    z-index: 999;
    width:100%;
    background-color: red;
    .position_css(fixed, 90px, 0px);
    .font_css(1.5vw);
    text-align: center;
    color: white;
}
.black_1tb_fulldetails{
    & h1{
        .font_css(2vw);
        width:45vw;
        .position_css(absolute, 50px, 50vw);
    }
    .section_style(100%, 8300px, absolute, 100px, 0px);
    .image_div{
        .section_style(45vw, 83%, fixed, 100px, 0vw);
        background-color:white;
        & div{
            & img{
                .img_style(25vw, auto, absolute, 50px, 10vw)
            }
            .second{
                width:80vw;
                top:-250px;
                left:-16vw;
            }
            .third{
                width:40vw;
                top:100px;
            }
            .fourth{
                width:80vw;
                top:-150px;
                left:-16vw;
            }
        }
        .swiper-button-next{
            font-weight: 700;
        }
        .swiper-button-prev{
            font-weight: 700;
        }
    }
    .price_div{
        .section_style(25vw, content-fit, absolute, 410px, 70vw);
        //background-color: aqua;
        & button{
            .button(40px, 13vw, 0px , red , 5px);
            border:1px solid red;
            .font_css(1.5vw);
            font-weight: 600;
            color:white;
            margin-bottom:10px;
        }
        .price{
            .section_style(0%, 100%, fixed, 0px, 0px);
            z-index: 999;
            background-color: white;
            overflow: hidden;
            & h1{
                .position_css(absolute, 100px, 0px);
                text-align: center;
                width:100%;
            }
            & img{
                .img_style(22px, auto, absolute, 100px, 90vw)
            }
            .price_btn{
                display: block;
                .position_css(relative, 200px, 41vw);
                .button(45px, 20vw, 0px , red , 5px);
                border:1px solid red;
                .font_css(1.5vw);
                font-weight: 600;
                color:white;
                margin-bottom:25px;
            }
        }
    }
    .highlights{
        .section_style(40vw, content-fit, absolute, 230px, 55vw);
        & h2{
            .font_css(2vw);
            text-align: center;
            width:45vw;
            height: 40px;
            border-bottom: 1px solid black;
            .position_css(absolute, -80px, -2vw)
        }
        & ul{
            & li{
                & h4{
                    .font_css(1.6vw);
                    font-weight: 300;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .general{
        .section_style(52%, 530px, absolute, 500px, 48%);
        border-bottom: 1px solid grey;
        & h1{
            text-align: center;
            .font_css(3.5vw);
            width:100%;
            .position_css(absolute, 0px, 0%);
            
        }
        & h3{
            .position_css(relative, 120px, 2.5vw);
            .font_css(20px);
            width: fit-content;
            margin-bottom:15px;
        }
        & p{
            .font_css(16px);
                .position_css(relative, 79px , 25vw);
                width: 22vw;
                overflow: hidden;
        }
    }
    .display_features{
        .section_style(100%, 1000px, absolute, 1050px, 0%);
        border-bottom: 1px solid gray;
        & h1{
            text-align: center;
            .font_css(3.5vw);
            //background: linear-gradient(90deg, rgba(250,50,0,1) 0%, rgba(251,218,95,0.5798027829295781) 56%, rgba(205,0,255,1) 100%);;
            //-webkit-background-clip: text;
            //-webkit-text-fill-color: transparent;
        }
        .display_feature{
            .section_style(50vw, auto, absolute, 160px, 35vw);
            & h2{
                .position_css(relative, 0px, 15vw);
                .font_css(20px);
                width: fit-content;
                margin-bottom:16px;
            }
            & p{
                .font_css(16px);
                .position_css(relative, -42px , 33vw);
                width: 30vw;
                overflow: hidden;
                
            }
            .hdr{
                width:20vw;
                left:35vw;
            }
        }
    }
    .ram_feature{
        .section_style(52%, 280px, absolute, 1000px, 48%);
        border-bottom: 1px solid grey;
        & h1{
            .position_css(absolute, 50px, 0px);
            text-align: center;
            .font_css(42px);
        }
        & h4{
            .position_css(relative, 150px, 3vw);
            .font_css(20px);
            width: fit-content;
            margin-bottom:16px;
        }
        & p{
            .font_css(16px);
            .position_css(relative, 98px , 21vw);
            width: 30vw;
            overflow: hidden;
            
        }
    }
    .os_processor{
        .section_style(52%, 820px, absolute, 1300px, 48%);
        border-bottom: 1px solid grey;
        & h1{
            .position_css(absolute, 50px, 0px);
            text-align: center;
            .font_css(42px);
        }
        & h5{
            .position_css(relative, 150px, 3vw);
            .font_css(20px);
            width: fit-content;
            margin-bottom:16px;
        }
        & p{
            .font_css(16px);
            .position_css(relative, 112px , 21vw);
            width: 30vw;
            overflow: hidden;  
        }
        & button{
            .button(40px, 19vw, 0px , red , 5px);
            border:1px solid red;
            .font_css(1.5vw);
            font-weight: 600;
            color:white;
            margin-bottom:10px;
            .position_css(absolute, 730px, 16vw)
        }
    }
    .memory_feature{
        .section_style(52%, 300px, absolute, 2120px, 48%);
        border-bottom: 1px solid grey;
        & h1{
            .position_css(absolute, 50px, 0px);
            text-align: center;
            .font_css(42px);
        }
        & h2{
            .position_css(relative, 200px, 3vw);
            .font_css(20px);
            width: fit-content;
            margin-bottom:16px;
        }
        & p{
            .font_css(16px);
            .position_css(relative, 162px , 21vw);
            width: 30vw;
            overflow: hidden;  
        }
    }
    .camera_feature{
        .section_style(52%, 2050px, absolute, 2420px, 48%);
        border-bottom: 1px solid grey;
        & h1{
            .position_css(absolute, 50px, 0px);
            text-align: center;
            .font_css(42px);
        }
        & h6{
            .position_css(relative, 150px, 0vw);
            .font_css(20px);
            text-align: left;
            width: 19vw;
            margin-bottom:16px;
        }
        & p{
            .font_css(16px);
            .position_css(relative, 106px , 19vw);
            width: 30vw;
            overflow: hidden;  
            padding-bottom: 3px;
        }
        & button{
            .button(40px, 19vw, 0px , red , 5px);
            border:1px solid red;
            .font_css(1.5vw);
            font-weight: 600;
            color:white;
            margin-bottom:10px;
            .position_css(absolute, 1950px, 16vw)
        }
    }
    .call_feature{
        .section_style(52%, 300px, absolute, 4480px, 48%);
        border-bottom: 1px solid grey;
        & h1{
            .position_css(absolute, 50px, 0px);
            text-align: center;
            .font_css(42px);
        }
        & h5{
            .position_css(relative, 150px, 0vw);
            .font_css(20px);
            text-align: left;
            width: 19vw;
            margin-bottom:16px;
        }
        & p{
            .font_css(16px);
            .position_css(relative, 112px , 19vw);
            width: 30vw;
            overflow: hidden;  
            padding-bottom: 3px;
        }
    }
    .connectivity_feature{
        .section_style(52%, 785px, absolute, 4780px, 48%);
        & h4{
            .position_css(relative, 150px, 0vw);
            .font_css(20px);
            text-align: left;
            width: 19vw;
            margin-bottom:16px;
        }
    }
    
    .multimedia_feature{
        .section_style(52%, 325px, absolute, 5580px, 48%);
    }
    .other_details{
        .section_style(52%, 735px, absolute, 5900px, 48%);
    }
    .design{
        .section_style(52%, 565px, absolute, 6650px, 48%);
    }
}
.a{
    .section_style(100%, 1000px, absolute, 8210px, 0px);
    background-color: aqua;
}




@media only screen and (min-width:250px) and (max-width:500px){
    .american{
        font-size: 10px;
    }
    .black_1tb_fulldetails{
        & h1{
            font-size: 28px;
            width:90vw;
            height: auto;
            text-align: center;
            .position_css(absolute, 25px, 5vw);
        }
        .section_style(100%, 15300px, absolute, 100px, 0px);
        .image_div{
            .section_style(100%, 480px, absolute, 120px, 0vw);
            background-color:white;
            & div{
                & img{
                    .img_style(70vw, auto, absolute, 50px, 15vw)
                }
                .second{
                    width:190vw;
                    top:-150px;
                    left:-50vw;
                }
                .third{
                    width:120vw;
                    top:150px;
                    left:0vw;
                }
                .fourth{
                    width:160vw;
                    top:50px;
                    left:-30vw;
                }
            }
            .swiper-button-next{
                font-weight: 700;
                visibility: hidden;
            }
            .swiper-button-prev{
                font-weight: 700;
                visibility: hidden;
            }
        }
        .price_div{
            .position_css(absolute, 620px, 25vw);
            & button{
                width:50vw;
                font-size: 24px;
                height:60px;
            }
            .price{
                & img{
                    .img_style(10vw, auto, absolute, 650px, 45vw)
                }
                .price_btn{
                    width:64vw;
                    font-size: 5vw;
                    height:60px;
                    left:18vw;
                    top:300px;
                }
            }
        }
        .highlights{
            .position_css(absolute, 820px, 5vw);
            & h2{
                font-size: 6.9vw;
                width:90vw;
            }
            & ul{
                & li{
                    .position_css(relative, 0px , 5vw);
                    & h4{
                        width:90vw;
                        font-size: 3.9vw;
                    }
                }
            }
        }
        .general{
            .section_style(100%, auto, absolute, 990px, 0px);
            border-bottom: 1px solid grey;
            & h1{
                .font_css(6.9vw)
            }
            & h3{
                .position_css(relative, 100px, 5vw);
                width:35vw;
                .font_css(4vw);
            }
            & p{
                .position_css(relative, 65px, 40vw);
                width:55vw;
                .font_css(3.8vw)
            }
        }
        .display_features{
            .section_style(100%, 8000px, absolute, 1380px, 0px);
            border-bottom: 0px;
            & h1{
                .font_css(6.9vw)
            }
            .display_feature{
                .section_style(100%, auto, absolute, -25px, 0px);
                border-bottom: 1px solid grey;
                & h2{
                    .position_css(relative, 100px, 5vw);
                    width:33vw;
                    .font_css(4vw)
                }
                & p{
                    .position_css(relative, 65px, 40vw);
                    width:55vw;
                    .font_css(3.8vw)
                }
            }
        }
        .ram_feature{
            .section_style(100%, auto, absolute, 1220px, 0px);
            & h1{
                width:100%;
            }
            & h4{
                .position_css(relative, 150px, 5vw);
                width:35vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
        }
        .os_processor{
            .section_style(100%, 1390px, absolute, 1770px, 0px);
            & h1{
                width:100%;
            }
            & h5{
                .position_css(relative, 150px, 5vw);
                width:33vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
            & button{
                width:50vw;
                .position_css(absolute, 1250px, 25vw);
                .font_css(4vw)
            }
        }
        .memory_feature{
            .section_style(100%, 270px, absolute, 3170px, 0px);
            & h1{
                width:100%;
            }
            & h2{
                .position_css(relative, 150px, 5vw);
                width:43vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 112px, 50vw);
                width:40vw;
                .font_css(4.5vw)
            }
        }
        .camera_feature{
            .section_style(100%, 3810px, absolute, 3470px, 0px);
            & h1{
                width: 100%;
            }
            & h6{
                .position_css(relative, 150px, 5vw);
                width:33.5vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
            & button{
                width:50vw;
                .position_css(absolute, 3690px, 25vw);
                .font_css(4vw)
            }
        }
        .call_feature{
            .section_style(100%, 360px, absolute, 7300px, 0px);
            & h1{
                width:100%;
            }
            & h5{
                .position_css(relative, 150px, 5vw);
                width:37vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 44vw);
                width:55vw;
                .font_css(4.5vw)
            }
        }
        .connectivity_feature{
            .section_style(100%, 1010px, absolute, 7700px, 0px);
            & h1{
                width:100%;
            }
            & h4{
                .position_css(relative, 150px, 5vw);
                width:37vw;
                .font_css(4.5vw)
            }
        }
        .multimedia_feature{
            .section_style(100%, 400px, absolute, 8740px, 0px);
            & h1{
                width:100%;
            }
        }
        .other_details{
            .section_style(100%, 1250px, absolute, 9180px, 0px);
            & h1{
                width:100%;
            }
        }
        .design{
            .section_style(100%, 650px, absolute, 10460px, 0px);
            & h1{
                width:100%;
            }
        }
    }
    
}

@media only screen and (min-width:300px) and (max-width:350px){
    .american{
        font-size: 10px;
    }
    .black_1tb_fulldetails{
        & h1{
            font-size: 28px;
            width:90vw;
            height: auto;
            text-align: center;
            .position_css(absolute, 25px, 5vw);
        }
        .section_style(100%, 15300px, absolute, 100px, 0px);
        .image_div{
            .section_style(100%, 480px, absolute, 120px, 0vw);
            background-color:white;
            & div{
                & img{
                    .img_style(70vw, auto, absolute, 50px, 15vw)
                }
                .second{
                    width:190vw;
                    top:-150px;
                    left:-50vw;
                }
                .third{
                    width:120vw;
                    top:150px;
                    left:0vw;
                }
                .fourth{
                    width:160vw;
                    top:50px;
                    left:-30vw;
                }
            }
            .swiper-button-next{
                font-weight: 700;
                visibility: hidden;
            }
            .swiper-button-prev{
                font-weight: 700;
                visibility: hidden;
            }
        }
        .price_div{
            .position_css(absolute, 620px, 25vw);
            & button{
                width:50vw;
                font-size: 24px;
                height:60px;
            }
            .price{
                & img{
                    .img_style(10vw, auto, absolute, 650px, 45vw)
                }
                .price_btn{
                    width:64vw;
                    font-size: 5vw;
                    height:60px;
                    left:18vw;
                    top:300px;
                }
            }
        }
        .highlights{
            .position_css(absolute, 820px, 5vw);
            & h2{
                font-size: 6.9vw;
                width:90vw;
            }
            & ul{
                & li{
                    .position_css(relative, 0px , 5vw);
                    & h4{
                        width:90vw;
                        font-size: 3.9vw;
                    }
                }
            }
        }
        .general{
            .section_style(100%, auto, absolute, 990px, 0px);
            border-bottom: 1px solid grey;
            & h1{
                .font_css(6.9vw)
            }
            & h3{
                .position_css(relative, 100px, 5vw);
                width:35vw;
                .font_css(4vw);
            }
            & p{
                .position_css(relative, 65px, 40vw);
                width:55vw;
                .font_css(3.8vw)
            }
        }
        .display_features{
            .section_style(100%, auto, absolute, 1425px, 0px);
            border-bottom: 0px;
            & h1{
                .font_css(6.9vw)
            }
            .display_feature{
                .section_style(100%, auto, absolute, -25px, 0px);
                border-bottom: 1px solid grey;
                & h2{
                    .position_css(relative, 100px, 5vw);
                    width:33vw;
                    .font_css(4vw)
                }
                & p{
                    .position_css(relative, 65px, 40vw);
                    width:55vw;
                    .font_css(3.8vw)
                }
            }
        }
        .ram_feature{
            .section_style(100%, auto, absolute, 1220px, 0px);
            & h1{
                width:100%;
            }
            & h4{
                .position_css(relative, 150px, 5vw);
                width:35vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
        }
        .os_processor{
            .section_style(100%, 1390px, absolute, 1770px, 0px);
            & h1{
                width:100%;
            }
            & h5{
                .position_css(relative, 150px, 5vw);
                width:33vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
            & button{
                width:50vw;
                .position_css(absolute, 1250px, 25vw);
                .font_css(4vw)
            }
        }
        .memory_feature{
            .section_style(100%, 270px, absolute, 3170px, 0px);
            & h1{
                width:100%;
            }
            & h2{
                .position_css(relative, 150px, 5vw);
                width:43vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 112px, 50vw);
                width:40vw;
                .font_css(4.5vw)
            }
        }
        .camera_feature{
            .section_style(100%, 3810px, absolute, 3470px, 0px);
            & h1{
                width: 100%;
            }
            & h6{
                .position_css(relative, 150px, 5vw);
                width:33.5vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
            & button{
                width:50vw;
                .position_css(absolute, 3690px, 25vw);
                .font_css(4vw)
            }
        }
        .call_feature{
            .section_style(100%, 360px, absolute, 7300px, 0px);
            & h1{
                width:100%;
            }
            & h5{
                .position_css(relative, 150px, 5vw);
                width:37vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 44vw);
                width:55vw;
                .font_css(4.5vw)
            }
        }
        .connectivity_feature{
            .section_style(100%, 1010px, absolute, 7700px, 0px);
            & h1{
                width:100%;
            }
            & h4{
                .position_css(relative, 150px, 5vw);
                width:37vw;
                .font_css(4.5vw)
            }
        }
        .multimedia_feature{
            .section_style(100%, 400px, absolute, 8740px, 0px);
            & h1{
                width:100%;
            }
        }
        .other_details{
            .section_style(100%, 1250px, absolute, 9180px, 0px);
            & h1{
                width:100%;
            }
        }
        .design{
            .section_style(100%, 650px, absolute, 10460px, 0px);
            & h1{
                width:100%;
            }
        }
    }
    
}
@media only screen and (min-width:350px) and (max-width:400px){
    .american{
        font-size: 10px;
    }
    .black_1tb_fulldetails{
        & h1{
            font-size: 28px;
            width:90vw;
            height: auto;
            text-align: center;
            .position_css(absolute, 25px, 5vw);
        }
        .section_style(100%, 15300px, absolute, 100px, 0px);
        .image_div{
            .section_style(100%, 480px, absolute, 120px, 0vw);
            background-color:white;
            & div{
                & img{
                    .img_style(70vw, auto, absolute, 50px, 15vw)
                }
                .second{
                    width:190vw;
                    top:-150px;
                    left:-50vw;
                }
                .third{
                    width:120vw;
                    top:150px;
                    left:0vw;
                }
                .fourth{
                    width:160vw;
                    top:50px;
                    left:-30vw;
                }
            }
            .swiper-button-next{
                font-weight: 700;
                visibility: hidden;
            }
            .swiper-button-prev{
                font-weight: 700;
                visibility: hidden;
            }
        }
        .price_div{
            .position_css(absolute, 620px, 25vw);
            & button{
                width:50vw;
                font-size: 24px;
                height:60px;
            }
            .price{
                & img{
                    .img_style(10vw, auto, absolute, 650px, 45vw)
                }
                .price_btn{
                    width:64vw;
                    font-size: 5vw;
                    height:60px;
                    left:18vw;
                    top:300px;
                }
            }
        }
        .highlights{
            .position_css(absolute, 820px, 5vw);
            & h2{
                font-size: 6.9vw;
                width:90vw;
            }
            & ul{
                & li{
                    .position_css(relative, 0px , 5vw);
                    & h4{
                        width:90vw;
                        font-size: 3.9vw;
                    }
                }
            }
        }
        .general{
            .section_style(100%, auto, absolute, 990px, 0px);
            border-bottom: 1px solid grey;
            & h1{
                .font_css(6.9vw)
            }
            & h3{
                .position_css(relative, 100px, 5vw);
                width:35vw;
                .font_css(4vw);
            }
            & p{
                .position_css(relative, 65px, 40vw);
                width:55vw;
                .font_css(3.8vw)
            }
        }
        .display_features{
            .section_style(100%, auto, absolute, 1465px, 0px);
            border-bottom: 0px;
            & h1{
                .font_css(6.9vw)
            }
            .display_feature{
                .section_style(100%, auto, absolute, -25px, 0px);
                border-bottom: 1px solid grey;
                & h2{
                    .position_css(relative, 100px, 5vw);
                    width:33vw;
                    .font_css(4vw)
                }
                & p{
                    .position_css(relative, 65px, 40vw);
                    width:55vw;
                    .font_css(3.8vw)
                }
            }
        }
        .ram_feature{
            .section_style(100%, auto, absolute, 1220px, 0px);
            & h1{
                width:100%;
            }
            & h4{
                .position_css(relative, 150px, 5vw);
                width:35vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
        }
        .os_processor{
            .section_style(100%, 1390px, absolute, 1770px, 0px);
            & h1{
                width:100%;
            }
            & h5{
                .position_css(relative, 150px, 5vw);
                width:33vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
            & button{
                width:50vw;
                .position_css(absolute, 1250px, 25vw);
                .font_css(4vw)
            }
        }
        .memory_feature{
            .section_style(100%, 270px, absolute, 3170px, 0px);
            & h1{
                width:100%;
            }
            & h2{
                .position_css(relative, 150px, 5vw);
                width:43vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 112px, 50vw);
                width:40vw;
                .font_css(4.5vw)
            }
        }
        .camera_feature{
            .section_style(100%, 3810px, absolute, 3470px, 0px);
            & h1{
                width: 100%;
            }
            & h6{
                .position_css(relative, 150px, 5vw);
                width:33.5vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
            & button{
                width:50vw;
                .position_css(absolute, 3690px, 25vw);
                .font_css(4vw)
            }
        }
        .call_feature{
            .section_style(100%, 360px, absolute, 7300px, 0px);
            & h1{
                width:100%;
            }
            & h5{
                .position_css(relative, 150px, 5vw);
                width:37vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 44vw);
                width:55vw;
                .font_css(4.5vw)
            }
        }
        .connectivity_feature{
            .section_style(100%, 1010px, absolute, 7700px, 0px);
            & h1{
                width:100%;
            }
            & h4{
                .position_css(relative, 150px, 5vw);
                width:37vw;
                .font_css(4.5vw)
            }
        }
        .multimedia_feature{
            .section_style(100%, 400px, absolute, 8740px, 0px);
            & h1{
                width:100%;
            }
        }
        .other_details{
            .section_style(100%, 1250px, absolute, 9180px, 0px);
            & h1{
                width:100%;
            }
        }
        .design{
            .section_style(100%, 650px, absolute, 10460px, 0px);
            & h1{
                width:100%;
            }
        }
    }
    
}
@media only screen and (min-width:400px) and (max-width:450px){
    .american{
        font-size: 10px;
    }
    .black_1tb_fulldetails{
        & h1{
            font-size: 28px;
            width:90vw;
            height: auto;
            text-align: center;
            .position_css(absolute, 25px, 5vw);
        }
        .section_style(100%, 15300px, absolute, 100px, 0px);
        .image_div{
            .section_style(100%, 480px, absolute, 120px, 0vw);
            background-color:white;
            & div{
                & img{
                    .img_style(70vw, auto, absolute, 50px, 15vw)
                }
                .second{
                    width:190vw;
                    top:-150px;
                    left:-50vw;
                }
                .third{
                    width:120vw;
                    top:150px;
                    left:0vw;
                }
                .fourth{
                    width:160vw;
                    top:50px;
                    left:-30vw;
                }
            }
            .swiper-button-next{
                font-weight: 700;
                visibility: hidden;
            }
            .swiper-button-prev{
                font-weight: 700;
                visibility: hidden;
            }
        }
        .price_div{
            .position_css(absolute, 620px, 25vw);
            & button{
                width:50vw;
                font-size: 24px;
                height:60px;
            }
            .price{
                & img{
                    .img_style(10vw, auto, absolute, 650px, 45vw)
                }
                .price_btn{
                    width:64vw;
                    font-size: 5vw;
                    height:60px;
                    left:18vw;
                    top:300px;
                }
            }
        }
        .highlights{
            .position_css(absolute, 820px, 5vw);
            & h2{
                font-size: 6.9vw;
                width:90vw;
            }
            & ul{
                & li{
                    .position_css(relative, 0px , 5vw);
                    & h4{
                        width:90vw;
                        font-size: 3.9vw;
                    }
                }
            }
        }
        .general{
            .section_style(100%, auto, absolute, 990px, 0px);
            border-bottom: 1px solid grey;
            & h1{
                .font_css(6.9vw)
            }
            & h3{
                .position_css(relative, 100px, 5vw);
                width:35vw;
                .font_css(4vw);
            }
            & p{
                .position_css(relative, 65px, 40vw);
                width:55vw;
                .font_css(3.8vw)
            }
        }
        .display_features{
            .section_style(100%, auto, absolute, 1510px, 0px);
            border-bottom: 0px;
            & h1{
                .font_css(6.9vw)
            }
            .display_feature{
                .section_style(100%, auto, absolute, -25px, 0px);
                border-bottom: 1px solid grey;
                & h2{
                    .position_css(relative, 100px, 5vw);
                    width:33vw;
                    .font_css(4vw)
                }
                & p{
                    .position_css(relative, 65px, 40vw);
                    width:55vw;
                    .font_css(3.8vw)
                }
            }
        }
        .ram_feature{
            .section_style(100%, auto, absolute, 1220px, 0px);
            & h1{
                width:100%;
            }
            & h4{
                .position_css(relative, 150px, 5vw);
                width:35vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
        }
        .os_processor{
            .section_style(100%, 1390px, absolute, 1770px, 0px);
            & h1{
                width:100%;
            }
            & h5{
                .position_css(relative, 150px, 5vw);
                width:33vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
            & button{
                width:50vw;
                .position_css(absolute, 1250px, 25vw);
                .font_css(4vw)
            }
        }
        .memory_feature{
            .section_style(100%, 270px, absolute, 3170px, 0px);
            & h1{
                width:100%;
            }
            & h2{
                .position_css(relative, 150px, 5vw);
                width:43vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 112px, 50vw);
                width:40vw;
                .font_css(4.5vw)
            }
        }
        .camera_feature{
            .section_style(100%, 3810px, absolute, 3470px, 0px);
            & h1{
                width: 100%;
            }
            & h6{
                .position_css(relative, 150px, 5vw);
                width:33.5vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
            & button{
                width:50vw;
                .position_css(absolute, 3690px, 25vw);
                .font_css(4vw)
            }
        }
        .call_feature{
            .section_style(100%, 360px, absolute, 7300px, 0px);
            & h1{
                width:100%;
            }
            & h5{
                .position_css(relative, 150px, 5vw);
                width:37vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 44vw);
                width:55vw;
                .font_css(4.5vw)
            }
        }
        .connectivity_feature{
            .section_style(100%, 1010px, absolute, 7700px, 0px);
            & h1{
                width:100%;
            }
            & h4{
                .position_css(relative, 150px, 5vw);
                width:37vw;
                .font_css(4.5vw)
            }
        }
        .multimedia_feature{
            .section_style(100%, 400px, absolute, 8740px, 0px);
            & h1{
                width:100%;
            }
        }
        .other_details{
            .section_style(100%, 1250px, absolute, 9180px, 0px);
            & h1{
                width:100%;
            }
        }
        .design{
            .section_style(100%, 650px, absolute, 10460px, 0px);
            & h1{
                width:100%;
            }
        }
    }
    
}
@media only screen and (min-width:450px) and (max-width:500px){
    .american{
        font-size: 10px;
    }
    .black_1tb_fulldetails{
        & h1{
            font-size: 28px;
            width:90vw;
            height: auto;
            text-align: center;
            .position_css(absolute, 25px, 5vw);
        }
        .section_style(100%, 15300px, absolute, 100px, 0px);
        .image_div{
            .section_style(100%, 480px, absolute, 120px, 0vw);
            background-color:white;
            & div{
                & img{
                    .img_style(70vw, auto, absolute, 50px, 15vw)
                }
                .second{
                    width:190vw;
                    top:-150px;
                    left:-50vw;
                }
                .third{
                    width:120vw;
                    top:150px;
                    left:0vw;
                }
                .fourth{
                    width:160vw;
                    top:50px;
                    left:-30vw;
                }
            }
            .swiper-button-next{
                font-weight: 700;
                visibility: hidden;
            }
            .swiper-button-prev{
                font-weight: 700;
                visibility: hidden;
            }
        }
        .price_div{
            .position_css(absolute, 620px, 25vw);
            & button{
                width:50vw;
                font-size: 24px;
                height:60px;
            }
            .price{
                & img{
                    .img_style(10vw, auto, absolute, 650px, 45vw)
                }
                .price_btn{
                    width:64vw;
                    font-size: 5vw;
                    height:60px;
                    left:18vw;
                    top:300px;
                }
            }
        }
        .highlights{
            .position_css(absolute, 820px, 5vw);
            & h2{
                font-size: 6.9vw;
                width:90vw;
            }
            & ul{
                & li{
                    .position_css(relative, 0px , 5vw);
                    & h4{
                        width:90vw;
                        font-size: 3.9vw;
                    }
                }
            }
        }
        .general{
            .section_style(100%, auto, absolute, 990px, 0px);
            border-bottom: 1px solid grey;
            & h1{
                .font_css(6.9vw)
            }
            & h3{
                .position_css(relative, 100px, 5vw);
                width:35vw;
                .font_css(4vw);
            }
            & p{
                .position_css(relative, 65px, 40vw);
                width:55vw;
                .font_css(3.8vw)
            }
        }
        .display_features{
            .section_style(100%, auto, absolute, 1570px, 0px);
            border-bottom: 0px;
            & h1{
                .font_css(6.9vw)
            }
            .display_feature{
                .section_style(100%, auto, absolute, -25px, 0px);
                border-bottom: 1px solid grey;
                & h2{
                    .position_css(relative, 100px, 5vw);
                    width:33vw;
                    .font_css(4vw)
                }
                & p{
                    .position_css(relative, 65px, 40vw);
                    width:55vw;
                    .font_css(3.8vw)
                }
            }
        }
        .ram_feature{
            .section_style(100%, auto, absolute, 1220px, 0px);
            & h1{
                width:100%;
            }
            & h4{
                .position_css(relative, 150px, 5vw);
                width:35vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
        }
        .os_processor{
            .section_style(100%, 1390px, absolute, 1770px, 0px);
            & h1{
                width:100%;
            }
            & h5{
                .position_css(relative, 150px, 5vw);
                width:33vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
            & button{
                width:50vw;
                .position_css(absolute, 1250px, 25vw);
                .font_css(4vw)
            }
        }
        .memory_feature{
            .section_style(100%, 270px, absolute, 3170px, 0px);
            & h1{
                width:100%;
            }
            & h2{
                .position_css(relative, 150px, 5vw);
                width:43vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 112px, 50vw);
                width:40vw;
                .font_css(4.5vw)
            }
        }
        .camera_feature{
            .section_style(100%, 3810px, absolute, 3470px, 0px);
            & h1{
                width: 100%;
            }
            & h6{
                .position_css(relative, 150px, 5vw);
                width:33.5vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 40vw);
                width:55vw;
                .font_css(4.5vw)
            }
            & button{
                width:50vw;
                .position_css(absolute, 3690px, 25vw);
                .font_css(4vw)
            }
        }
        .call_feature{
            .section_style(100%, 360px, absolute, 7300px, 0px);
            & h1{
                width:100%;
            }
            & h5{
                .position_css(relative, 150px, 5vw);
                width:37vw;
                .font_css(4.5vw)
            }
            & p{
                .position_css(relative, 105px, 44vw);
                width:55vw;
                .font_css(4.5vw)
            }
        }
        .connectivity_feature{
            .section_style(100%, 1010px, absolute, 7700px, 0px);
            & h1{
                width:100%;
            }
            & h4{
                .position_css(relative, 150px, 5vw);
                width:37vw;
                .font_css(4.5vw)
            }
        }
        .multimedia_feature{
            .section_style(100%, 400px, absolute, 8740px, 0px);
            & h1{
                width:100%;
            }
        }
        .other_details{
            .section_style(100%, 1250px, absolute, 9180px, 0px);
            & h1{
                width:100%;
            }
        }
        .design{
            .section_style(100%, 650px, absolute, 10460px, 0px);
            & h1{
                width:100%;
            }
        }
    }
    
}
