*{
    margin:0px;
    padding:0px;
}
.section_style(@width,@height,@position,@top,@left){
    width:@width;
    height:@height;
    position: @position;
    top:@top;
    left:@left;
}
.img_style(@width,@height,@position,@top,@left){
    width:@width;
    height:@height;
    position: @position;
    top:@top;
    left:@left;
}
.position_css(@position, @top, @left){
    position: @position;
    top:@top;
    left:@left;
}
.font_css(@font){
    font-size: @font;
    font-family: sans-serif;
}
.button(@height, @width, @margin, @background, @radius,){
    height:@height;
    width:@width;
    border-radius:@radius;
    border:1px solid black;
    margin:@margin;
    background-color: @background;
}

.american{
    z-index: 999;
    width:100%;
    background-color: red;
    .position_css(fixed, 90px, 0px);
    .font_css(1.5vw);
    text-align: center;
    color: white;
}
.black_1tb_fulldetails{
    & h1{
        .font_css(2vw);
        width:45vw;
        .position_css(absolute, 50px, 50vw);
    }
    .section_style(100%, 1200px, absolute, 100px, 0px);
    .image_div{
        .section_style(50vw, 500px, absolute, 00px, 0vw);
        background-color:white;
        & div{
            & img{
                .img_style(25vw, auto, absolute, 50px, 12vw)
            }
            .second{
                width:80vw;
                top:-250px;
                left:-16vw;
            }
            .third{
                width:40vw;
                top:100px;
            }
            .fourth{
                width:80vw;
                top:-150px;
                left:-16vw;
            }
        }
        .swiper-button-next{
            font-weight: 700;
        }
        .swiper-button-prev{
            font-weight: 700;
        }
    }
    .price_div{
        .section_style(25vw, content-fit, absolute, 410px, 70vw);
        //background-color: aqua;
        & button{
            .button(40px, 13vw, 0px , red , 5px);
            border:1px solid red;
            .font_css(1.5vw);
            font-weight: 600;
            color:white;
            margin-bottom:10px;
        }
        .price{
            .section_style(0%, 100%, fixed, 0px, 0px);
            z-index: 999;
            background-color: white;
            overflow: hidden;
            & h1{
                .position_css(absolute, 100px, 0px);
                text-align: center;
                width:100%;
            }
            & img{
                .img_style(22px, auto, absolute, 100px, 90vw)
            }
            .price_btn{
                display: block;
                .position_css(relative, 200px, 41vw);
                .button(45px, 20vw, 0px , red , 5px);
                border:1px solid red;
                .font_css(1.5vw);
                font-weight: 600;
                color:white;
                margin-bottom:25px;
            }
        }
    }
    .highlights{
        .section_style(40vw, content-fit, absolute, 230px, 55vw);
        & h2{
            .font_css(2vw);
            text-align: center;
            width:45vw;
            height: 40px;
            border-bottom: 1px solid black;
            .position_css(absolute, -80px, -2vw)
        }
        & ul{
            & li{
                & h4{
                    .font_css(1.6vw);
                    font-weight: 300;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
.display_feature{
    .section_style(100%, 900px, absolute, 650px, 0px);
    & img{
        .img_style(90%, auto, absolute, 500px, 5%)
    }
    & h1{
        text-align: center;
        .font_css(6vw);
        background: linear-gradient(90deg, rgba(250,50,0,1) 0%, rgba(251,218,95,0.5798027829295781) 56%, rgba(205,0,255,1) 100%);;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .line{
        .section_style(.5vw, 480px, absolute, 130px, 15vw);
        transform: rotateZ('90deg');
        background-color: red;
        border-radius: 10px;
    }
    .display_feature{
        .section_style(80vw, auto, absolute, 130px, 15vw);
        & h2{
            .position_css(absolute, 0px, 1vw);
            .font_css(2vw)
        }
        & p{
            .font_css(1.6vw);
            .position_css(absolute, 5px , 18vw);
            color:gray;
        }
        & h3{
            .position_css(absolute, 120px, 1vw);
            .font_css(2vw);
            color:gray;
        }
        & h4{
            .position_css(absolute, 220px, 1vw);
            .font_css(2vw);
            color:gray;
        }
    }
}