*{
    margin:0px; 
    padding:0px;
}
.section_style(@width,@height,@position,@top,@left){
    width:@width;
    height:@height;
    position: @position;
    top:@top;
    left:@left;
}
.img_style(@width,@height,@position,@top,@left){
    width:@width;
    height:@height;
    position: @position;
    top:@top;
    left:@left;
}
.position_css(@position, @top, @left){
    position: @position;
    top:@top;
    left:@left;
}
.font_css(@font){
    font-size: @font;
    font-family:sans-serif;
}
.button(@height, @width, @margin, @background, @radius,){
    height:@height;
    width:@width;
    border-radius:@radius;
    border:1px solid black;
    margin:@margin;
    background-color: @background;
}

// apple section css
h1{
    width:100%;
    .position_css(absolute, 150px, 0px);
    text-align: center;
    .font_css(2.5vw);
}
h2{
    width:100%;
    text-align: center;
    .position_css(fixed, 100px, 0vw);
    .font_css(1vw);
    border-bottom: 1px solid red;
    background-color: red;
    z-index: 999;
    color: white;
    font-weight: 700;
}
p{
    text-align: center;
    width: 90vw;
    .position_css(absolute, 220px, 5vw);
    .font_css(1.5vw);
    font-weight: 400;
    
}
.apple_phones{
    .section_style(100%, 2000vh, absolute, 15vh, 0px);
    & div{
        .section_style(100%, 300px, absolute, 200px, 0px); 
        //border-bottom: 1px solid rgb(66, 63, 63);
        cursor: pointer;
        & a{
            .font_css(2vw);
            .position_css(absolute, 50px, 39vw);
            text-decoration: none;
            font-weight: 600;
            color:black;
            text-align: center;
        }
        & img{
            .img_style(30vw, auto, absolute, -50px, 5vw);
        }
        & ul{
            & li{
                //display: flex;
                width:fit-content;
                list-style: none;
                .position_css(relative, 100px, 37vw);
                margin-bottom: 15px;
                //border:1px solid black;
                & span{
                    //column-gap: 2vh;
                    .font_css(1.7vw);
                    font-weight: 400;
                }
            }
        }
        #see_full_details{
            .button(50px, 15vw, 0px, red, 5px);
            .font_css(1.5vw);
            color: white;
            font-weight: 700;
            border:1px solid red;
            .position_css(absolute, 110px, 77vw)
        }
    }
    & div{
        & a:hover{
            color:dodgerblue
        } 
     }
    .choose_colour{
        .section_style(00%, 100%, fixed, 0px, 0px);
        z-index: 99999;
        background-color: white;
        overflow:hidden;
        & h1{
            .font_css(2vw);
            .position_css(absolute, 20px, 0vw)
        }
        & img{
            .img_style(2.5vw, auto, absolute, 20px, 90vw);
        }
        & ul{
            & li{
                //display: inline-block;
                .position_css(relative, 110px, 39vw);
                & button{
                    .button(80px, 10vw, 0px, black, 5px)
                }
                .black{
                    background-color: black;
                }
                .silver{
                    background-color: silver;
                }
                .gold{
                    background-color: gold;
                }
                .purple{
                    background-color: purple;
                }
            }
        }
        & h3{
            width: fit-content;
            .position_css(relative, -249px, 55vw);
            .font_css(1.6vw);
            margin-bottom:77px;
        }
    }
    .choose_rom{
        z-index: 999;
        .section_style(0%, 100%, fixed, 00px, 0px);
        background-color: white;
        overflow:hidden;
        & h1{
            .font_css(2vw);
            .position_css(absolute, 100px, 0vw)
        }
        & img{
            .img_style(2.5vw, auto, absolute, 100px, 90vw);
        }
        & ul{
            & li{
                .position_css(relative, 210px, 40vw);
                border-bottom: 40px;
                & button{
                    .button(50px, 20vw, 0px, red, 5px);
                    border:1px solid red;
                    text-align: center;
                    .font_css(1.6vw);
                    color:azure;
                    font-weight: 600;
                }
            }
        }
    }
}

//apple phone css for phone
@media only screen and(min-width:250px) and(max-width:500px){
    h1{
        .font_css(6vw);
    }
    h2{
        .font_css(3vw);
    }
    p{
        width: 90vw;
        .position_css(absolute, 200px, 5vw);
        .font_css(4vw);
        font-weight: 400;
        
    }
    .apple_phones{
        .section_style(100%, 2000vh, absolute, 150px, 0px);
        & div{
            .section_style(100%, auto, relative, 150px, 0px);
            border-bottom: 1px solid grey;
            & a{
                width: 94vw;
                .font_css(5.5vw);
                .position_css(relative, 23px, 15vw);
            }
            & img{
                .img_style(35vw, auto, relative, 37px, 0vw);
            }
            & ul{
                & li{
                    width:63vw;
                    //list-style: disc;
                    .position_css(relative, -75px, 35vw);
                    margin-bottom: 12px;
                    & span{
                        .font_css(3vw)
                    }
                }
            }
            #see_full_details{
                .button(40px, 30vw, 0px, red, 5px);
                .font_css(3.5vw);
                border: 1px solid red;
                .position_css(relative, -40px, 36vw)
            }
            & button{
                .button(40px, 30vw, 0px, red, 5px);
                .font_css(3.5vw);
                border: 1px solid red;
                .position_css(relative, -40px, 36vw);
                color:white;
                font-weight: 700;
            }
        }
        .choose_colour{
            height: 100%;
            & h1{
                top:10vh;
                width: 90vw;
                .font_css(5vw);
                left:5vw;
                text-align: center
            }
            & img{
                width:10vw;
                top:90vh;
                left:45.5vw;
            }
            & ul{
                & li{
                    top:30vh;
                    left:15vw;
                    & button{
                        width:25vw; 
                        height: 12vh;           
                    }
                }
            }
            & h3{
                top:-160px;
                .font_css(5vw);
                margin-bottom: 11vh;
            }
        }
        .choose_rom{
            height: 100%;
            & h1{
                top:10vh;
                width: 90vw;
                .font_css(6vw);
                left:5vw;
                text-align: center
            }
            & img{
                width:10vw;
                top:85vh;
                left:45.5vw;
            }
            & ul{
                & li{
                    top:30vh;
                    left:29vw;
                    & button{
                        height: 8vh;
                        width:40vw; 
                        .font_css(5vw)           
                    }
                }
            }
        }
    }
}