*{
    margin:0px; 
    padding:0px;
}
.section_style(@width,@height,@position,@top,@left){
    width:@width;
    height:@height;
    position: @position;
    top:@top;
    left:@left;
}
.img_style(@width,@height,@position,@top,@left){
    width:@width;
    height:@height;
    position: @position;
    top:@top;
    left:@left;
}
.position_css(@position, @top, @left){
    position: @position;
    top:@top;
    left:@left;
}
.font_css(@font){
    font-size: @font;
    font-family:sans-serif;
}
.button(@height, @width, @margin, @background, @radius,){
    height:@height;
    width:@width;
    border-radius:@radius;
    border:1px solid black;
    margin:@margin;
    background-color: @background;
}

// apple section css
h1{
    width:100%;
    .position_css(absolute, 150px, 0px);
    text-align: center;
    .font_css(2.5vw);
}
h2{
    width:100%;
    text-align: center;
    .position_css(fixed, 100px, 0vw);
    .font_css(1vw);
    border-bottom: 1px solid red;
    background-color: red;
    z-index: 999;
    color: white;
    font-weight: 700;
}
p{
    text-align: center;
    width: 90vw;
    .position_css(absolute, 220px, 5vw);
    .font_css(1.5vw);
    font-weight: 400;
    
}
.apple_phones{
    .section_style(100%, 2000vh, absolute, 15vh, 0px);
    & div{
        .section_style(100%, 300px, absolute, 200px, 0px); 
        //border-bottom: 1px solid rgb(66, 63, 63);
        cursor: pointer;
        & a{
            .font_css(2vw);
            .position_css(absolute, 50px, 30vw);
            text-decoration: none;
            font-weight: 600;
            color:black;
            text-align: center;
        }
        & img{
            .img_style(14vw, auto, absolute, 25px, 10vw);
        }
        & ul{
            & li{
                //display: flex;
                width:fit-content;
                list-style: none;
                .position_css(relative, 100px, 30vw);
                margin-bottom: 15px;
                //border:1px solid black;
                & span{
                    //column-gap: 2vh;
                    .font_css(1.7vw);
                    font-weight: 400;
                }
            }
        }
        #see_full_details{
            .button(50px, 15vw, 0px, red, 5px);
            .font_css(1.5vw);
            color: white;
            font-weight: 700;
            border:1px solid red;
            .position_css(absolute, 110px, 75vw)
        }
    }
    & div{
        & a:hover{
            color:dodgerblue
        } 
     }
    .choose_colour{
        .section_style(00%, 100%, fixed, 0px, 0px);
        z-index: 99999;
        background-color: white;
        overflow:hidden;
        & h1{
            .font_css(2vw);
            .position_css(absolute, 20px, 0vw)
        }
        & img{
            .img_style(2.5vw, auto, absolute, 20px, 90vw);
        }
        & ul{
            & li{
                //display: inline-block;
                .position_css(relative, 110px, 39vw);
                & button{
                    .button(80px, 10vw, 0px, black, 5px)
                }
                .black{
                    background-color: black;
                }
                .silver{
                    background-color: silver;
                }
                .gold{
                    background-color: gold;
                }
                .purple{
                    background-color: purple;
                }
            }
        }
        & h3{
            width: fit-content;
            .position_css(relative, -249px, 55vw);
            .font_css(1.6vw);
            margin-bottom:77px;
        }
    }
    .choose_rom{
        z-index: 999;
        .section_style(0%, 100%, fixed, 00px, 0px);
        background-color: white;
        overflow:hidden;
        & h1{
            .font_css(2vw);
            .position_css(absolute, 100px, 0vw)
        }
        & img{
            .img_style(2.5vw, auto, absolute, 100px, 90vw);
        }
        & ul{
            & li{
                .position_css(relative, 210px, 40vw);
                border-bottom: 40px;
                & button{
                    .button(50px, 20vw, 0px, red, 5px);
                    border:1px solid red;
                    .font_css(1.6vw);
                    color:azure;
                    font-weight: 600;
                }
            }
        }
    }
    .iphone_14_pro_max_512gb{
        .section_style(50vw, 300px, absolute, 200px, 48vw);
    }
    .iphone_14_pro_max_256gb{
        .section_style(50vw, 300px, absolute, 500px, 0vw);
    }
    .iphone_14_pro_max_128gb{
        .section_style(50vw, 300px, absolute, 500px, 48vw);
    }
    .iphone_14_pro_max_1tb_black{
        .section_style(50vw, 300px, absolute, 800px, 0vw);
    }
    .iphone_14_pro_max_512gb_black{
        .section_style(50vw, 300px, absolute, 800px, 48vw);
    }
    .iphone_14_pro_max_256gb_black{
        .section_style(50vw, 300px, absolute, 1100px, 0vw);
    }
    .iphone_14_pro_max_128gb_black{
        .section_style(50vw, 300px, absolute, 1100px, 48vw);
    }
    .iphone_14_pro_max_1tb_purple{
        .section_style(50vw, 300px, absolute, 1400px, 0vw);
    }
    .iphone_14_pro_max_512gb_purple{
        .section_style(50vw, 300px, absolute, 1400px, 48vw);
    }
    .iphone_14_pro_max_256gb_purple{
        .section_style(50vw, 300px, absolute, 1700px, 0vw);
    }
    .iphone_14_pro_max_128gb_purple{
        .section_style(50vw, 300px, absolute, 1700px, 48vw);
    }
    .iphone_14_pro_max_1tb_gold{
        .section_style(50vw, 300px, absolute, 2000px, 0vw);
    }
    .iphone_14_pro_max_512gb_gold{
        .section_style(50vw, 300px, absolute, 2000px, 48vw);
    }
    .iphone_14_pro_max_256gb_gold{
        .section_style(50vw, 300px, absolute, 2300px, 0vw);
    }
    .iphone_14_pro_max_128gb_gold{
        .section_style(50vw, 300px, absolute, 2300px, 48vw);
    }
}
//apple phone css for phone
@media only screen and(min-width:250px) and(max-width:500px){
    h1{
        .font_css(6vw);
    }
    h2{
        .font_css(3vw);
    }
    p{
        width: 90vw;
        .position_css(absolute, 220px, 5vw);
        .font_css(4vw);
        font-weight: 400;
        
    }
    .apple_phones{
        .section_style(100%, 2000vh, absolute, 15vh, 0px);
        & div{
            .section_style(100%, 280px, absolute, 150px, 0px);
            & a{
                width: 94vw;
                .font_css(4.5vw);
                .position_css(absolute, 40px, 5vw);
            }
            & img{
                .img_style(25vw, auto, absolute, 90px, 5vw);
            }
            & ul{
                & li{
                    width:fit-content;
                    .position_css(relative, 90px, 35vw);
                    & span{
                        .font_css(3vw)
                    }
                }
            }
            #see_full_details{
                .button(40px, 30vw, 0px, red, 5px);
                .font_css(3.5vw);
                border: 1px solid red;
                .position_css(absolute, 200px, 38vw)
            }
        }
        .choose_colour{
            height: 100%;
            & h1{
                top:100px;
                width: 90vw;
                .font_css(5vw);
                left:5vw;
                text-align: center
            }
            & img{
                width:10vw;
                top:650px;
                left:45.5vw;
            }
            & ul{
                & li{
                    top:220px;
                    left:15vw;
                    & button{
                        width:30vw;            
                    }
                }
            }
            & h3{
                top:-160px;
                .font_css(5vw)
            }
        }
        .choose_rom{
            height: 100%;
            & h1{
                width: 90vw;
                .font_css(6vw);
                left:5vw;
                text-align: center
            }
            & img{
                width:10vw;
                top:550px;
                left:45.5vw;
            }
            & ul{
                & li{
                    top:250px;
                    left:29vw;
                    & button{
                        width:40vw; 
                        .font_css(5vw)           
                    }
                }
            }
        }
        .iphone_14_pro_max_512gb{
            .section_style(100%, 280px, absolute,470px, 0vw);
        }
        .iphone_14_pro_max_256gb{
            .section_style(100%, 280px, absolute, 745px, 0vw);
        }
        .iphone_14_pro_max_128gb{
            .section_style(100%, 280px, absolute, 1020px, 0vw);
        }
        .iphone_14_pro_max_1tb_black{
            .section_style(100%, 280px, absolute, 1320px, 0vw);
        }
        .iphone_14_pro_max_512gb_black{
            .section_style(100%, 280px, absolute, 1620px, 0vw);
        }
        .iphone_14_pro_max_256gb_black{
            .section_style(100%, 280px, absolute, 1920px, 0vw);
        }
        .iphone_14_pro_max_128gb_black{
            .section_style(100%, 280px, absolute, 2220px, 0vw);
        }
        .iphone_14_pro_max_1tb_purple{
            .section_style(100%, 280px, absolute, 2520px, 0vw);
        }
        .iphone_14_pro_max_512gb_purple{
            .section_style(100%, 280px, absolute, 2820px, 0vw);
        }
        .iphone_14_pro_max_256gb_purple{
            .section_style(100%, 280px, absolute, 3120px, 0vw);
        }
        .iphone_14_pro_max_128gb_purple{
            .section_style(100%, 280px, absolute, 3420px, 0vw);
        }
        .iphone_14_pro_max_1tb_gold{
            .section_style(100%, 280px, absolute, 3720px, 0vw);
        }
        .iphone_14_pro_max_512gb_gold{
            .section_style(100%, 280px, absolute, 4020px, 0vw);
        }
        .iphone_14_pro_max_256gb_gold{
            .section_style(100%, 280px, absolute, 4320px, 0vw);
        }
        .iphone_14_pro_max_128gb_gold{
            .section_style(100%, 280px, absolute, 4620px, 0vw);
        }
    }
}