* {
  margin: 0px;
  padding: 0px;
}
h1 {
  width: 100%;
  position: absolute;
  top: 150px;
  left: 0px;
  text-align: center;
  font-size: 2.5vw;
  font-family: sans-serif;
}
h2 {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 100px;
  left: 0vw;
  font-size: 1vw;
  font-family: sans-serif;
  border-bottom: 1px solid red;
  background-color: red;
  z-index: 999;
  color: white;
  font-weight: 700;
}
p {
  text-align: center;
  width: 90vw;
  position: absolute;
  top: 220px;
  left: 5vw;
  font-size: 1.5vw;
  font-family: sans-serif;
  font-weight: 400;
}
.apple_phones {
  width: 100%;
  height: 2000vh;
  position: absolute;
  top: 15vh;
  left: 0px;
}
.apple_phones div {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 200px;
  left: 0px;
  cursor: pointer;
}
.apple_phones div a {
  font-size: 2vw;
  font-family: sans-serif;
  position: absolute;
  top: 50px;
  left: 39vw;
  text-decoration: none;
  font-weight: 600;
  color: black;
  text-align: center;
}
.apple_phones div img {
  width: 30vw;
  height: auto;
  position: absolute;
  top: -50px;
  left: 5vw;
}
.apple_phones div ul li {
  width: fit-content;
  list-style: none;
  position: relative;
  top: 100px;
  left: 37vw;
  margin-bottom: 15px;
}
.apple_phones div ul li span {
  font-size: 1.7vw;
  font-family: sans-serif;
  font-weight: 400;
}
.apple_phones div #see_full_details {
  height: 50px;
  width: 15vw;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
  background-color: red;
  font-size: 1.5vw;
  font-family: sans-serif;
  color: white;
  font-weight: 700;
  border: 1px solid red;
  position: absolute;
  top: 110px;
  left: 77vw;
}
.apple_phones div a:hover {
  color: dodgerblue;
}
.apple_phones .choose_colour {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
  background-color: white;
  overflow: hidden;
}
.apple_phones .choose_colour h1 {
  font-size: 2vw;
  font-family: sans-serif;
  position: absolute;
  top: 100px;
  left: 0vw;
}
.apple_phones .choose_colour img {
  width: 2.5vw;
  height: auto;
  position: absolute;
  top: 100px;
  left: 90vw;
}
.apple_phones .choose_colour ul li {
  position: relative;
  top: 210px;
  left: 39vw;
}
.apple_phones .choose_colour ul li button {
  height: 50px;
  width: 20vw;
  border: 1px solid black;
  margin: 0px;
  background-color: black;
  border-radius: 5px;
  background-color: red;
  border: 1px solid red;
  font-weight: 700;
  font-size: 1.6vw;
  font-family: sans-serif;
  color: white;
}
.apple_phones .choose_colour h3 {
  width: fit-content;
  position: relative;
  top: -249px;
  left: 55vw;
  font-size: 1.6vw;
  font-family: sans-serif;
  margin-bottom: 77px;
}
.apple_phones .choose_rom {
  z-index: 999;
  width: 0%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  overflow: hidden;
}
.apple_phones .choose_rom h1 {
  font-size: 2vw;
  font-family: sans-serif;
  position: absolute;
  top: 100px;
  left: 0vw;
}
.apple_phones .choose_rom img {
  width: 2.5vw;
  height: auto;
  position: absolute;
  top: 100px;
  left: 90vw;
}
.apple_phones .choose_rom ul li {
  position: relative;
  top: 210px;
  left: 40vw;
  border-bottom: 40px;
}
.apple_phones .choose_rom ul li button {
  height: 50px;
  width: 20vw;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
  background-color: red;
  border: 1px solid red;
  text-align: center;
  font-size: 1.6vw;
  font-family: sans-serif;
  color: azure;
  font-weight: 600;
}
@media only screen and (min-width: 250px) and (max-width: 500px) {
  h1 {
    font-size: 6vw;
    font-family: sans-serif;
  }
  h2 {
    font-size: 3vw;
    font-family: sans-serif;
  }
  p {
    width: 90vw;
    position: absolute;
    top: 200px;
    left: 5vw;
    font-size: 4vw;
    font-family: sans-serif;
    font-weight: 400;
  }
  .apple_phones {
    width: 100%;
    height: 2000vh;
    position: absolute;
    top: 150px;
    left: 0px;
  }
  .apple_phones div {
    width: 100%;
    height: auto;
    position: relative;
    top: 150px;
    left: 0px;
    border-bottom: 1px solid grey;
  }
  .apple_phones div a {
    width: 94vw;
    font-size: 5.5vw;
    font-family: sans-serif;
    position: relative;
    top: 23px;
    left: 15vw;
  }
  .apple_phones div img {
    width: 35vw;
    height: auto;
    position: relative;
    top: 37px;
    left: 0vw;
  }
  .apple_phones div ul li {
    width: 63vw;
    position: relative;
    top: -70px;
    left: 35vw;
    margin-bottom: 12px;
  }
  .apple_phones div ul li span {
    font-size: 3vw;
    font-family: sans-serif;
  }
  .apple_phones div #see_full_details {
    height: 40px;
    width: 30vw;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px;
    background-color: red;
    font-size: 3.5vw;
    font-family: sans-serif;
    border: 1px solid red;
    position: relative;
    top: -40px;
    left: 36vw;
  }
  .apple_phones div button {
    height: 40px;
    width: 30vw;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px;
    background-color: red;
    font-size: 3.5vw;
    font-family: sans-serif;
    border: 1px solid red;
    position: relative;
    top: -40px;
    left: 36vw;
    color: white;
    font-weight: 700;
  }
  .apple_phones .choose_colour {
    height: 100%;
  }
  .apple_phones .choose_colour h1 {
    top: 10vh;
    width: 90vw;
    font-size: 5vw;
    font-family: sans-serif;
    left: 5vw;
    text-align: center;
  }
  .apple_phones .choose_colour img {
    width: 10vw;
    top: 80vh;
    left: 45.5vw;
  }
  .apple_phones .choose_colour ul li {
    top: 35vh;
    left: -10vw;
  }
  .apple_phones .choose_colour ul li button {
    width: 50vw;
    height: 8vh;
    font-size: 5vw;
    font-family: sans-serif;
  }
  .apple_phones .choose_colour h3 {
    top: -210px;
    font-size: 5vw;
    font-family: sans-serif;
    margin-bottom: 11vh;
  }
  .apple_phones .choose_rom {
    height: 100%;
  }
  .apple_phones .choose_rom h1 {
    top: 10vh;
    width: 90vw;
    font-size: 6vw;
    font-family: sans-serif;
    left: 5vw;
    text-align: center;
  }
  .apple_phones .choose_rom img {
    width: 10vw;
    top: 85vh;
    left: 45.5vw;
  }
  .apple_phones .choose_rom ul li {
    top: 30vh;
    left: -5.5vw;
  }
  .apple_phones .choose_rom ul li button {
    height: 8vh;
    width: 40vw;
    font-size: 5vw;
    font-family: sans-serif;
  }
}
