* {
  margin: 0px;
  padding: 0px;
}
.apple_phones {
  width: 100%;
  height: 2000vh;
  position: absolute;
  top: 15vh;
  left: 0px;
}
.apple_phones div {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 200px;
  left: 0px;
  border-top: 1px solid #433f3f;
  border-bottom: 1px solid #423f3f;
  cursor: pointer;
}
.apple_phones div h2 {
  text-align: center;
  font-size: 4vw;
  font-family: sans-serif;
  background: linear-gradient(90deg, #833ab4 20%, #fd1d1d 50%, #fcb045 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 10px;
  left: 0vw;
  height: 12vh;
  width: 100%;
}
.apple_phones div a {
  font-size: 2vw;
  font-family: sans-serif;
  position: absolute;
  top: 140px;
  left: 31vw;
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.apple_phones div img {
  width: 20vw;
  height: auto;
  position: absolute;
  top: 20vh;
  left: 5vw;
}
.apple_phones div ul li {
  position: relative;
  top: 200px;
  left: 32vw;
  width: 44vw;
  margin-bottom: 15px;
}
.apple_phones div ul li h3 {
  column-gap: 2vh;
  font-size: 2vw;
  font-family: sans-serif;
  font-weight: 500;
}
.apple_phones div #see_full_details {
  height: 50px;
  width: 20vw;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
  background-color: red;
  font-size: 1.5vw;
  font-family: sans-serif;
  color: white;
  font-weight: 700;
  border: 1px solid red;
  position: absolute;
  top: 400px;
  left: 40vw;
}
.apple_phones div .all_website_btn {
  border-bottom: 0px;
  width: 20vw;
  height: 30vh;
  position: absolute;
  top: 28vh;
  left: 75vw;
  border-top: 0px;
}
.apple_phones div .all_website_btn ul li {
  list-style: none;
  text-decoration: none;
  position: relative;
  top: 1vh;
  left: 1vw;
  width: 20vw;
  margin-bottom: 15px;
}
.apple_phones div .all_website_btn ul li button {
  height: 7vh;
  width: 19vw;
  border-radius: 2px;
  border: 1px solid black;
  margin: 2px;
  background-color: red;
  font-size: 1.5vw;
  font-family: sans-serif;
  color: white;
  font-weight: 700;
  border: 1px solid red;
}
.apple_phones div a:hover {
  color: dodgerblue;
}
.apple_phones .iphone_14_pro_max_512gb {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 800px;
  left: 0vw;
}
.apple_phones .iphone_14_pro_max_256gb {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 1400px;
  left: 0vw;
}
.apple_phones .iphone_14_pro_max_128gb {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 2000px;
  left: 0vw;
}
@media only screen and (min-width: 250px) and (max-width: 500px) {
  .apple_phones {
    width: 100%;
    height: 2000vh;
    position: absolute;
    top: 15vh;
    left: 0px;
  }
  .apple_phones div {
    width: 100%;
    height: 1050px;
    position: absolute;
    top: 200px;
    left: 0px;
  }
  .apple_phones div h2 {
    font-size: 7vw;
    height: 50px;
  }
  .apple_phones div a {
    font-size: 4.5vw;
    font-family: sans-serif;
    position: absolute;
    top: 70px;
    left: 6vw;
  }
  .apple_phones div img {
    width: 60vw;
    height: auto;
    position: absolute;
    top: 120px;
    left: 20vw;
  }
  .apple_phones div ul li {
    width: 70vw;
    position: relative;
    top: 520px;
    left: 10vw;
  }
  .apple_phones div ul li h3 {
    font-size: 3vw;
    font-family: sans-serif;
  }
  .apple_phones div #see_full_details {
    height: 50px;
    width: 40vw;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px;
    background-color: red;
    font-size: 4vw;
    font-family: sans-serif;
    border: 1px solid red;
    position: absolute;
    top: 695px;
    left: 30vw;
  }
  .apple_phones div .all_website_btn {
    border-bottom: 0px;
    width: 20vw;
    height: 200px;
    position: absolute;
    top: 800px;
    left: 25vw;
    border-top: 0px;
  }
  .apple_phones div .all_website_btn ul li {
    list-style: none;
    text-decoration: none;
    position: relative;
    top: 1vh;
    left: -5vw;
    width: 20vw;
    margin-bottom: 15px;
  }
  .apple_phones div .all_website_btn ul li button {
    height: 50px;
    width: 60vw;
    border-radius: 2px;
    border: 1px solid black;
    margin: 2px;
    background-color: red;
    font-size: 4.5vw;
    font-family: sans-serif;
    border: 1px solid red;
  }
  .apple_phones .iphone_14_pro_max_512gb {
    width: 100%;
    height: 10500px;
    position: absolute;
    top: 1251px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_256gb {
    width: 100%;
    height: 10500px;
    position: absolute;
    top: 2300px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_128gb {
    width: 100%;
    height: 10500px;
    position: absolute;
    top: 3350px;
    left: 0vw;
  }
}
