* {
  margin: 0px;
  padding: 0px;
}
h1 {
  width: 100%;
  position: absolute;
  top: 150px;
  left: 0px;
  text-align: center;
  font-size: 2.5vw;
  font-family: sans-serif;
}
h2 {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 100px;
  left: 0vw;
  font-size: 1vw;
  font-family: sans-serif;
  border-bottom: 1px solid red;
  background-color: red;
  z-index: 999;
  color: white;
  font-weight: 700;
}
p {
  text-align: center;
  width: 90vw;
  position: absolute;
  top: 220px;
  left: 5vw;
  font-size: 1.5vw;
  font-family: sans-serif;
  font-weight: 400;
}
.apple_phones {
  width: 100%;
  height: 2000vh;
  position: absolute;
  top: 15vh;
  left: 0px;
}
.apple_phones div {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 200px;
  left: 0px;
  cursor: pointer;
}
.apple_phones div a {
  font-size: 2vw;
  font-family: sans-serif;
  position: absolute;
  top: 50px;
  left: 30vw;
  text-decoration: none;
  font-weight: 600;
  color: black;
  text-align: center;
}
.apple_phones div img {
  width: 14vw;
  height: auto;
  position: absolute;
  top: 25px;
  left: 10vw;
}
.apple_phones div ul li {
  width: fit-content;
  list-style: none;
  position: relative;
  top: 100px;
  left: 30vw;
  margin-bottom: 15px;
}
.apple_phones div ul li span {
  font-size: 1.7vw;
  font-family: sans-serif;
  font-weight: 400;
}
.apple_phones div #see_full_details {
  height: 50px;
  width: 15vw;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
  background-color: red;
  font-size: 1.5vw;
  font-family: sans-serif;
  color: white;
  font-weight: 700;
  border: 1px solid red;
  position: absolute;
  top: 110px;
  left: 75vw;
}
.apple_phones div a:hover {
  color: dodgerblue;
}
.apple_phones .choose_colour {
  width: 0%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
  background-color: white;
  overflow: hidden;
}
.apple_phones .choose_colour h1 {
  font-size: 2vw;
  font-family: sans-serif;
  position: absolute;
  top: 20px;
  left: 0vw;
}
.apple_phones .choose_colour img {
  width: 2.5vw;
  height: auto;
  position: absolute;
  top: 20px;
  left: 90vw;
}
.apple_phones .choose_colour ul li {
  position: relative;
  top: 110px;
  left: 39vw;
}
.apple_phones .choose_colour ul li button {
  height: 80px;
  width: 10vw;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
  background-color: black;
}
.apple_phones .choose_colour ul li .black {
  background-color: black;
}
.apple_phones .choose_colour ul li .silver {
  background-color: silver;
}
.apple_phones .choose_colour ul li .gold {
  background-color: gold;
}
.apple_phones .choose_colour ul li .purple {
  background-color: purple;
}
.apple_phones .choose_colour h3 {
  width: fit-content;
  position: relative;
  top: -249px;
  left: 55vw;
  font-size: 1.6vw;
  font-family: sans-serif;
  margin-bottom: 77px;
}
.apple_phones .choose_rom {
  z-index: 999;
  width: 0%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  overflow: hidden;
}
.apple_phones .choose_rom h1 {
  font-size: 2vw;
  font-family: sans-serif;
  position: absolute;
  top: 100px;
  left: 0vw;
}
.apple_phones .choose_rom img {
  width: 2.5vw;
  height: auto;
  position: absolute;
  top: 100px;
  left: 90vw;
}
.apple_phones .choose_rom ul li {
  position: relative;
  top: 210px;
  left: 40vw;
  border-bottom: 40px;
}
.apple_phones .choose_rom ul li button {
  height: 50px;
  width: 20vw;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
  background-color: red;
  border: 1px solid red;
  text-align: center;
  font-size: 1.6vw;
  font-family: sans-serif;
  color: azure;
  font-weight: 600;
}
.apple_phones .iphone_14_pro_max_512gb {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 200px;
  left: 48vw;
}
.apple_phones .iphone_14_pro_max_256gb {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 500px;
  left: 0vw;
}
.apple_phones .iphone_14_pro_max_128gb {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 500px;
  left: 48vw;
}
.apple_phones .iphone_14_pro_max_1tb_black {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 800px;
  left: 0vw;
}
.apple_phones .iphone_14_pro_max_512gb_black {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 800px;
  left: 48vw;
}
.apple_phones .iphone_14_pro_max_256gb_black {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 1100px;
  left: 0vw;
}
.apple_phones .iphone_14_pro_max_128gb_black {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 1100px;
  left: 48vw;
}
.apple_phones .iphone_14_pro_max_1tb_purple {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 1400px;
  left: 0vw;
}
.apple_phones .iphone_14_pro_max_512gb_purple {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 1400px;
  left: 48vw;
}
.apple_phones .iphone_14_pro_max_256gb_purple {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 1700px;
  left: 0vw;
}
.apple_phones .iphone_14_pro_max_128gb_purple {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 1700px;
  left: 48vw;
}
.apple_phones .iphone_14_pro_max_1tb_gold {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 2000px;
  left: 0vw;
}
.apple_phones .iphone_14_pro_max_512gb_gold {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 2000px;
  left: 48vw;
}
.apple_phones .iphone_14_pro_max_256gb_gold {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 2300px;
  left: 0vw;
}
.apple_phones .iphone_14_pro_max_128gb_gold {
  width: 50vw;
  height: 300px;
  position: absolute;
  top: 2300px;
  left: 48vw;
}
@media only screen and (min-width: 250px) and (max-width: 500px) {
  h1 {
    font-size: 6vw;
    font-family: sans-serif;
  }
  h2 {
    font-size: 3vw;
    font-family: sans-serif;
  }
  p {
    width: 90vw;
    position: absolute;
    top: 200px;
    left: 5vw;
    font-size: 4vw;
    font-family: sans-serif;
    font-weight: 400;
  }
  .apple_phones {
    width: 100%;
    height: 2000vh;
    position: absolute;
    top: 150px;
    left: 0px;
  }
  .apple_phones div {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 150px;
    left: 0px;
  }
  .apple_phones div a {
    width: 94vw;
    font-size: 4.5vw;
    font-family: sans-serif;
    position: absolute;
    top: 40px;
    left: 5vw;
  }
  .apple_phones div img {
    width: 25vw;
    height: auto;
    position: absolute;
    top: 90px;
    left: 5vw;
  }
  .apple_phones div ul li {
    width: fit-content;
    position: relative;
    top: 90px;
    left: 35vw;
  }
  .apple_phones div ul li span {
    font-size: 3vw;
    font-family: sans-serif;
  }
  .apple_phones div #see_full_details {
    height: 40px;
    width: 30vw;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0px;
    background-color: red;
    font-size: 3.5vw;
    font-family: sans-serif;
    border: 1px solid red;
    position: absolute;
    top: 200px;
    left: 38vw;
  }
  .apple_phones .choose_colour {
    height: 100%;
  }
  .apple_phones .choose_colour h1 {
    top: 100px;
    width: 90vw;
    font-size: 5vw;
    font-family: sans-serif;
    left: 5vw;
    text-align: center;
  }
  .apple_phones .choose_colour img {
    width: 10vw;
    top: 650px;
    left: 45.5vw;
  }
  .apple_phones .choose_colour ul li {
    top: 220px;
    left: 15vw;
  }
  .apple_phones .choose_colour ul li button {
    width: 30vw;
  }
  .apple_phones .choose_colour h3 {
    top: -160px;
    font-size: 5vw;
    font-family: sans-serif;
  }
  .apple_phones .choose_rom {
    height: 100%;
  }
  .apple_phones .choose_rom h1 {
    width: 90vw;
    font-size: 6vw;
    font-family: sans-serif;
    left: 5vw;
    text-align: center;
  }
  .apple_phones .choose_rom img {
    width: 10vw;
    top: 550px;
    left: 45.5vw;
  }
  .apple_phones .choose_rom ul li {
    top: 250px;
    left: 29vw;
  }
  .apple_phones .choose_rom ul li button {
    width: 40vw;
    font-size: 5vw;
    font-family: sans-serif;
  }
  .apple_phones .iphone_14_pro_max_512gb {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 470px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_256gb {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 745px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_128gb {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 1020px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_1tb_black {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 1320px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_512gb_black {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 1620px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_256gb_black {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 1920px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_128gb_black {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 2220px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_1tb_purple {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 2520px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_512gb_purple {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 2820px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_256gb_purple {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 3120px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_128gb_purple {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 3420px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_1tb_gold {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 3720px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_512gb_gold {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 4020px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_256gb_gold {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 4320px;
    left: 0vw;
  }
  .apple_phones .iphone_14_pro_max_128gb_gold {
    width: 100%;
    height: 280px;
    position: absolute;
    top: 4620px;
    left: 0vw;
  }
}
