body {
  margin: 0px;
  padding: 0px;
}
.navbar_section {
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  z-index: 999;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: 0px solid black;
}
.navbar_section img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -40px;
  left: 2.5vw;
}
.hero_section {
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  width: 100%;
  height: 600px;
  position: absolute;
  top: 10%;
  left: 0px;
}
.hero_section h1 {
  font-size: 40px;
  font-family: sans-serif;
  position: absolute;
  top: 80px;
  left: 30%;
}
.hero_section .h4_div {
  width: 60vw;
  height: 200px;
  position: absolute;
  top: 150px;
  left: 20vw;
  text-align: center;
}
.hero_section .h4_div h4 {
  font-size: 20px;
  font-family: sans-serif;
}
.hero_section .search_div {
  width: 55vw;
  height: 200px;
  position: absolute;
  top: 260px;
  left: 21.5vw;
  text-align: center;
}
.hero_section .search_div input {
  font-size: 16px;
  font-family: sans-serif;
  height: 40px;
  width: 40vw;
  outline: none;
  border: 1px solid black;
}
.hero_section .search_div button {
  height: 50px;
  width: 10vw;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
  background-color: red;
  position: absolute;
  top: -5px;
  left: 40vw;
  border: 1px solid red;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}
@media only screen and (min-width: 250px) and (max-width: 500px) {
  .hero_section {
    top: 5.5%;
    height: 700px;
  }
  .hero_section h1 {
    font-size: 6vw;
    font-family: sans-serif;
    top: 55px;
    left: 14.7%;
  }
  .hero_section .h4_div {
    width: 90vw;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 5vw;
  }
  .hero_section .h4_div h4 {
    font-size: 4vw;
    font-family: sans-serif;
  }
  .hero_section .search_div {
    width: 90vw;
    height: 100px;
    position: absolute;
    top: 230px;
    left: 5vw;
  }
  .hero_section .search_div input {
    font-size: 2.7vw;
    font-family: sans-serif;
    width: 60vw;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .hero_section .search_div button {
    position: absolute;
    top: -5px;
    left: 60vw;
    width: 30vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
}
.second_hero_section {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 100%;
  left: 0px;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  display: inline-block;
}
.second_hero_section img {
  width: 45vw;
  height: auto;
  position: absolute;
  top: 20px;
  left: 47vw;
}
.second_hero_section div {
  width: 42vw;
  height: auto;
  position: absolute;
  top: 150px;
  left: 3vw;
}
.second_hero_section div p {
  font-size: 2.5vw;
  font-family: sans-serif;
  color: black;
  font-weight: 500;
}
@media only screen and (min-width: 250px) and (max-width: 500px) {
  .second_hero_section {
    top: 360px;
    height: 535px;
  }
  .second_hero_section div {
    width: 85vw;
    height: auto;
    position: absolute;
    top: 28px;
    left: 8vw;
  }
  .second_hero_section div p {
    font-size: 4vw;
    font-family: sans-serif;
  }
  .second_hero_section img {
    width: 90vw;
    height: auto;
    position: absolute;
    top: 136px;
    left: 5vw;
  }
}
.browse_phones {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 1100px;
  left: 0px;
  background: linear-gradient(to right, #ffffff, #ECE9E6);
}
.browse_phones h1 {
  position: absolute;
  top: 20px;
  left: 35vw;
  font-size: 3.5vw;
  font-family: sans-serif;
  font-weight: 500;
}
.browse_phones .browse_div {
  width: 90vw;
  height: 500px;
  position: absolute;
  top: 150px;
  left: 5vw;
  border: 0px solid black;
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 0 whitesmoke;
}
.browse_phones .browse_div ul li {
  display: inline-block;
}
.browse_phones .browse_div ul li button {
  height: 60px;
  width: 21.7vw;
  border-radius: 0px;
  border: 1px solid black;
  margin: -2px;
  background-color: white;
  position: relative;
  top: -10px;
  left: -1.7vw;
  font-size: 22px;
  font-family: sans-serif;
  border: 0px solid black;
  border-bottom: 1px solid #161515;
}
.browse_phones .brand_div {
  width: 88vw;
  height: 400px;
  position: absolute;
  top: 220px;
  left: 6vw;
  border: 0px solid black;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.browse_phones .brand_div div {
  display: inline-block;
  width: 15vw;
  height: 100px;
  position: relative;
  top: 50px;
  left: 0vw;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
}
.browse_phones .brand_div div img {
  width: 8vw;
  height: 25px;
}
.browse_phones .brand_div div h2 {
  font-size: 1.5vw;
  font-family: sans-serif;
}
.browse_phones .brand_div button {
  height: 50px;
  width: 20vw;
  border-radius: 1px;
  border: 1px solid black;
  margin: 1px;
  background-color: red;
  border: 1px solid red;
  color: #FFFFFF;
  font-size: 1.5vw;
  font-family: sans-serif;
  position: absolute;
  top: 320px;
  left: 34.5vw;
}
.browse_phones .view_more_brand_div {
  visibility: hidden;
  width: 90vw;
  height: 0px;
  position: absolute;
  top: 523px;
  left: 5vw;
  background-color: white;
  border-bottom: 0px solid black;
  border-right: 0px;
  border-left: 0px;
  overflow: hidden;
  text-align: center;
}
.browse_phones .view_more_brand_div div {
  display: inline-block;
  text-align: center;
  width: 15vw;
  position: relative;
  top: 40px;
  left: 0vw;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.browse_phones .view_more_brand_div div img {
  width: 8vw;
  height: 4vh;
}
.browse_phones .view_more_brand_div div h2 {
  font-size: 1.5vw;
  font-family: sans-serif;
}
.browse_phones .view_more_brand_div button {
  height: 50px;
  width: 20vw;
  border-radius: 1px;
  border: 1px solid black;
  margin: 1px;
  background-color: red;
  border: 1px solid red;
  color: white;
  font-size: 1.5vw;
  font-family: sans-serif;
  position: absolute;
  top: 310px;
  left: 35.5vw;
}
.browse_phones .budget_div {
  visibility: hidden;
  width: 88vw;
  height: 400px;
  position: absolute;
  top: 220px;
  left: 6vw;
}
.browse_phones .budget_div ul {
  text-align: center;
}
.browse_phones .budget_div ul li {
  display: inline-block;
}
.browse_phones .budget_div ul li button {
  height: 65px;
  width: 19vw;
  border-radius: 1px;
  border: 1px solid black;
  margin: 12px;
  background-color: red;
  margin-bottom: 30px;
  border: 1px solid red;
  color: white;
  font-weight: 700;
  position: relative;
  top: 10px;
  left: -1.6vw;
  font-size: 2vw;
  font-family: sans-serif;
}
.browse_phones .ram_div {
  visibility: hidden;
  width: 88vw;
  height: 400px;
  position: absolute;
  top: 220px;
  left: 6vw;
}
.browse_phones .ram_div ul {
  text-align: center;
}
.browse_phones .ram_div ul li {
  display: inline-block;
}
.browse_phones .ram_div ul li button {
  height: 65px;
  width: 22vw;
  border-radius: 1px;
  border: 1px solid black;
  margin: 12px;
  background-color: red;
  border: 1px solid red;
  margin-bottom: 30px;
  color: white;
  font-weight: 700;
  position: relative;
  top: 50px;
  left: -2.7vw;
  font-size: 2vw;
  font-family: sans-serif;
}
@media only screen and (min-width: 250px) and (max-width: 500px) {
  .browse_phones {
    width: 100%;
    height: 700px;
    position: absolute;
    top: 880px;
    left: 0px;
  }
  .browse_phones h1 {
    font-size: 6vw;
    font-family: sans-serif;
    position: absolute;
    top: 40px;
    left: 25vw;
  }
  .browse_phones .browse_div {
    width: 99vw;
    height: 500px;
    position: absolute;
    top: 150px;
    left: -2vw;
  }
  .browse_phones .browse_div ul li {
    position: relative;
    top: 10px;
    left: 2.5vw;
  }
  .browse_phones .browse_div ul li button {
    height: 60px;
    width: 21.5vw;
    border-radius: 0px;
    border: 1px solid black;
    margin: -2px;
    background-color: white;
    border: 0px solid black;
    border-bottom: 1px solid black;
    font-size: 4.5vw;
    font-family: sans-serif;
  }
  .browse_phones .brand_div div {
    height: 70px;
  }
  .browse_phones .brand_div div img {
    width: 14vw;
    height: 20px;
  }
  .browse_phones .brand_div div h2 {
    font-size: 3.5vw;
    font-family: sans-serif;
  }
  .browse_phones .brand_div button {
    height: 40px;
    width: 30vw;
    border-radius: 1px;
    border: 1px solid black;
    margin: 1px;
    background-color: red;
    font-size: 3vw;
    font-family: sans-serif;
    position: absolute;
    top: 350px;
    left: 28vw;
  }
  .browse_phones .view_more_brand_div {
    width: 92vw;
    height: 0px;
    position: absolute;
    top: 575px;
    left: 5vw;
  }
  .browse_phones .view_more_brand_div div img {
    width: 14vw;
    height: 20px;
  }
  .browse_phones .view_more_brand_div div h2 {
    font-size: 3.5vw;
    font-family: sans-serif;
  }
  .browse_phones .view_more_brand_div button {
    height: 40px;
    width: 30vw;
    border-radius: 1px;
    border: 1px solid black;
    margin: 1px;
    background-color: red;
    font-size: 3vw;
    font-family: sans-serif;
    position: absolute;
    top: 375px;
    left: 30.5vw;
  }
  .browse_phones .budget_div ul li button {
    height: 50px;
    width: 29vw;
    border-radius: 1px;
    border: 1px solid black;
    margin: 10px;
    background-color: red;
    position: relative;
    top: 10px;
    left: -4.7vw;
    font-size: 3vw;
    font-family: sans-serif;
  }
  .browse_phones .ram_div ul li button {
    height: 50px;
    width: 29vw;
    border-radius: 1px;
    border: 1px solid black;
    margin: 10px;
    background-color: red;
    position: relative;
    top: 10px;
    left: -4.7vw;
    font-size: 3vw;
    font-family: sans-serif;
  }
}
.browse_phones_byfeature {
  width: 100%;
  height: 1600px;
  position: absolute;
  top: 1800px;
  left: 0px;
  background-color: #FFFFFF;
  z-index: -99;
}
.browse_phones_byfeature h1 {
  position: absolute;
  top: 20px;
  left: 31vw;
  font-size: 3vw;
  font-family: sans-serif;
}
.browse_phones_byfeature h2 {
  position: absolute;
  top: 150px;
  left: 62vw;
  font-size: 2.5vw;
  font-family: sans-serif;
  font-weight: 600;
}
.browse_phones_byfeature img {
  width: 50vw;
  height: auto;
  position: absolute;
  top: 200px;
  left: 2vw;
}
.browse_phones_byfeature p {
  width: 45vw;
  position: absolute;
  top: 250px;
  left: 48vw;
  font-size: 2vw;
  font-family: sans-serif;
}
.browse_phones_byfeature button {
  height: 70px;
  width: 25vw;
  border-radius: 1px;
  border: 1px solid black;
  margin: 0px;
  background-color: red;
  position: absolute;
  top: 650px;
  left: 42vw;
  font-size: 2vw;
  font-family: sans-serif;
  border: 1px solid red;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}
.browse_phones_byfeature .fiveg_mobile {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 750px;
  left: 0px;
}
.browse_phones_byfeature .fiveg_mobile h2 {
  position: absolute;
  top: 50px;
  left: 15vw;
}
.browse_phones_byfeature .fiveg_mobile p {
  position: absolute;
  top: 150px;
  left: 4vw;
}
.browse_phones_byfeature .fiveg_mobile img {
  position: absolute;
  top: 100px;
  left: 48vw;
}
.browse_phones_byfeature .fiveg_mobile button {
  position: absolute;
  top: 590px;
  left: 40vw;
}
@media only screen and (min-width: 250px) and (max-width: 500px) {
  .browse_phones_byfeature {
    width: 100%;
    height: 1600px;
    position: absolute;
    top: 1600px;
    left: 0px;
  }
  .browse_phones_byfeature h1 {
    position: absolute;
    top: 10px;
    left: 10vw;
    font-size: 6vw;
    font-family: sans-serif;
  }
  .browse_phones_byfeature h2 {
    position: absolute;
    top: 80px;
    left: 40vw;
    font-size: 6vw;
    font-family: sans-serif;
  }
  .browse_phones_byfeature img {
    width: 70vw;
    height: auto;
    position: absolute;
    top: 360px;
    left: 25vw;
  }
  .browse_phones_byfeature p {
    width: 90vw;
    position: absolute;
    top: 150px;
    left: 5vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
  .browse_phones_byfeature button {
    height: 60px;
    width: 60vw;
    border-radius: 1px;
    border: 1px solid black;
    margin: 0px;
    background-color: red;
    position: absolute;
    top: 600px;
    left: 20vw;
    font-size: 5vw;
    font-family: sans-serif;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    font-weight: 600;
  }
}
