body{
    margin:0px;
    padding:0px;
}
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    z-index: 0;
    transform: skewY(6deg);
    transform-origin: top right;
    z-index: -10;
  }
.section_style(@width,@height,@position,@top,@left){
    width:@width;
    height:@height;
    position: @position;
    top:@top;
    left:@left;
}
.img_style(@width,@height,@position,@top,@left){
    width:@width;
    height:@height;
    position: @position;
    top:@top;
    left:@left;
}
.position_css(@position, @top, @left){
    position: @position;
    top:@top;
    left:@left;
}
.font_css(@font){
    font-size: @font;
    font-family: sans-serif;
}
// Navbar section css

.navbar_section{
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    z-index: 999;
    .section_style(100%, 100px, fixed, 0px, 0px);
    border-bottom:0px solid black;
    & img{
        .img_style(200px, 200px, absolute, -40px, 2.5vw)
    }
}

// Hero Section Css

.hero_section{
    .section_style(100%, 900px, absolute, 100px, 0px);
    border-bottom:1px solid black;
    display: inline-block;
    & img{
        .img_style(50vw, auto, absolute, 25px, 47vw)
    }
}