body{
    margin:0px;
    padding:0px;
}
.section_style(@width,@height,@position,@top,@left){
    width:@width;
    height:@height;
    position: @position;
    top:@top;
    left:@left;
}
.img_style(@width,@height,@position,@top,@left){
    width:@width;
    height:@height;
    position: @position;
    top:@top;
    left:@left;
}
.position_css(@position, @top, @left){
    position: @position;
    top:@top;
    left:@left;
}
.font_css(@font){
    font-size: @font;
    font-family: sans-serif;
}
.button(@height, @width, @margin, @background, @radius,){
    height:@height;
    width:@width;
    border-radius:@radius;
    border:1px solid black;
    margin:@margin;
    background-color: @background;
}
// Navbar section css

.navbar_section{
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    //background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(0,212,255,1) 100%);
    z-index: 999;
    .section_style(100%, 100px, fixed, 0px, 0px);
    border-bottom:0px solid black;
    & img{
        .img_style(200px, 200px, absolute, -40px, 2.5vw)
    }
}

// navbar phone css

@media only screen and (min-width:250px) and (max-width:500px){

}


//hero section css

.hero_section{
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    .section_style(100%, 600px, absolute, 10%, 0px);
    & h1{
        .font_css(40px);
        .position_css(absolute, 80px, 30%)
    }
    .h4_div{
        .section_style(60vw, 200px, absolute, 150px, 20vw);
        text-align: center;
        & h4{
            .font_css(20px);
        }
    }
    .search_div{
        .section_style(55vw, 200px, absolute, 260px, 21.5vw);
        text-align:center;
        & input{
            .font_css(16px);
            height:40px;
            width:40vw;
            outline:none;
            border:1px solid black;
        }
        & button{
            .button(50px, 10vw, 0px, red,5px);
            .position_css(absolute, -5px, 40vw); 
            border:1px solid red;
            color:white;
            .font_css(20px);
            font-weight: 600;
        }
    }
}

// phone hero section css

@media only screen and (min-width:250px) and (max-width:500px){
    .hero_section{
        top:5.5%;
        height:700px;
        & h1{
            .font_css(6vw);
            top:55px;
            left:14.7%;
        }
        .h4_div{
            .section_style(90vw, 200px, absolute, 100px, 5vw);
            & h4{
                .font_css(4vw);
            }
        }
        .search_div{
            .section_style(90vw, 100px, absolute, 230px, 5vw);
            & input{
                .font_css(2.7vw);
                width:60vw;
                .position_css(absolute, 0px, 0px)
            }
            & button{
                .position_css(absolute, -5px, 60vw);
                width:30vw;
                .font_css(4vw)
            }
        }
    }
}


// second hero section css


.second_hero_section{
    .section_style(100%, 500px, absolute, 100%, 0px);
    //background-color:black;
    //background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(0,212,255,1) 100%);
    //background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
 
    display: inline-block;
    & img{
        .img_style(45vw, auto, absolute, 20px, 47vw);
    }
    & div{
        .section_style(42vw, auto, absolute, 150px, 3vw);
        & p{
            .font_css(2.5vw);
            color:black;
            font-weight: 500
        }
    }
    
    
}

// phone second hero section  css

@media only screen and (min-width:250px) and (max-width:500px){
    .second_hero_section{
        top:360px;
        height:535px;
        & div{
            .section_style(85vw, auto, absolute, 28px, 8vw);
            & p{
                .font_css(4vw)
            }
        }
        & img{
            .img_style(90vw, auto, absolute, 136px, 5vw)
        }
    }
    
}

//browse phone Css

.browse_phones{
    .section_style(100%, 700px, absolute, 1100px, 0px);
    background: linear-gradient(to right, #ffffff, #ECE9E6);
    & h1{
        .position_css(absolute, 20px, 35vw);
        .font_css(3.5vw);
        font-weight: 500;
    }
    .browse_div{
        .section_style(90vw, 500px, absolute, 150px, 5vw);
        border:0px solid black;
        background-color: #FFFFFF;
        box-shadow: 0 0 2px 0 whitesmoke;
        & ul{
            & li{
                display:inline-block;
                & button{
                    .button(60px, 21.7vw, -2px, white, 0px);
                    .position_css(relative, -10px, -1.7vw);
                    .font_css(22px);
                    border:0px solid black;
                    border-bottom: 1px solid rgb(22, 21, 21);
                }
            }
        }
    }
    .brand_div{
        .section_style(88vw, 400px, absolute, 220px, 6vw);
        border:0px solid black;
        text-align: center;
        justify-content:center;
        flex-wrap: wrap;
        & div{
            display: inline-block;
            width:15vw;
            height: 100px;
            .position_css(relative, 50px, 0vw);
            margin-left: 10px;
            margin-bottom: 30px;
            margin-right: 10px;
            & img{
                width:8vw;
                height: 25px;
            }
            & h2{
                .font_css(1.5vw);
            }
        }
        & button{
            .button(50px, 20vw, 1px, white, 1px);
            .font_css(1.5vw);
            .position_css(absolute, 320px, 34.5vw)
        }
    }
    .view_more_brand_div{
        visibility: hidden;
        .section_style(90vw, 0px, absolute, 523px, 5vw);
        background-color: white;
        border-bottom: 0px solid black;
        border-right: 0px;
        border-left: 0px;
        overflow: hidden;
        text-align: center;
        & div{
            display:inline-block;
            text-align: center;
            width:15vw;
            .position_css(relative, 40px, 0vw);
            margin-bottom: 60px;
            margin-left: 10px;
            margin-right: 10px;
            & img{
                width:8vw;
                height: 4vh;
            }
            & h2{
                .font_css(1.5vw);
            }
        }
        & button{
            .button(50px, 20vw, 1px, white, 1px);
            .font_css(1.5vw);
            .position_css(absolute, 310px, 35.5vw)
        }
    }
    // budget div css start
    .budget_div{
        visibility: hidden;
        .section_style(88vw, 400px, absolute, 220px, 6vw);
        & ul{
            text-align: center;
            & li{
                display: inline-block;
                & button{
                    .button(65px, 19vw, 12px, red, 1px);
                    margin-bottom: 30px;
                    color:white;
                    font-weight: 700;
                    .position_css(relative, 10px, -1.6vw);
                    .font_css(2vw)
                }
            }
        }
    }
    // ram div start
    .ram_div{
        visibility: hidden;
        .section_style(88vw, 400px, absolute, 220px, 6vw);
        & ul{
            text-align: center;
            & li{
                display: inline-block;
                & button{
                    .button(65px, 22vw, 12px, red, 1px);
                    margin-bottom: 30px;
                    color:white;
                    font-weight: 700;
                    .position_css(relative, 50px, -2.7vw);
                    .font_css(2vw)
                }
            }
        }
    }
}

// browse phone phonescreen css

@media only screen and (min-width:250px) and (max-width:500px){
    .browse_phones{
        .section_style(100%, 700px, absolute, 880px, 0px);
        & h1{
            .font_css(6vw);
            .position_css(absolute, 40px, 25vw)
        }
        .browse_div{
            .section_style(99vw, 500px, absolute, 150px, -2vw);
            & ul{
                & li{
                    .position_css(relative, 10px, 2.5vw);
                    & button{
                        .button(60px, 21.5vw, -2px, white, 0px);
                        border:0px solid black;
                        border-bottom: 1px solid black;
                        .font_css(4.5vw)
                    }
                }
            }
        }
        .brand_div{
            & div{
                height: 70px;
                & img{
                    width:14vw;
                    height:20px;
                }
                & h2{
                    .font_css(3.5vw)
                }
            }
            & button{
                .button(40px, 30vw, 1px, white, 1px);
                .font_css(3vw);
                .position_css(absolute, 350px, 28vw)
            }
        }
        .view_more_brand_div{
            .section_style(92vw, 0px, absolute, 575px, 5vw);
            & div{
                & img{
                    width:14vw;
                    height:20px;
                }
                & h2{
                    .font_css(3.5vw)
                }
            }
            & button{
                .button(40px, 30vw, 1px, white, 1px);
                .font_css(3vw);
                .position_css(absolute, 375px, 30.5vw)
            }
        }
        .budget_div{
            & ul{
                & li{
                    & button{
                        .button(50px, 29vw, 10px, red, 1px);
                        .position_css(relative, 10px, -4.7vw);
                        .font_css(3vw)
                    }
                }
            }
        }
        .ram_div{
            & ul{
                & li{
                    & button{
                        .button(50px, 29vw, 10px, red, 1px);
                        .position_css(relative, 10px, -4.7vw);
                        .font_css(3vw)
                    }
                }
            }
        }
    }  
}
