body {
  margin: 0px;
  padding: 0px;
}
.navbar_section {
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  z-index: 999;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: 0px solid black;
}
.navbar_section img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -40px;
  left: 2.5vw;
}
.hero_section {
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  width: 100%;
  height: 600px;
  position: absolute;
  top: 10%;
  left: 0px;
}
.hero_section h1 {
  font-size: 40px;
  font-family: sans-serif;
  position: absolute;
  top: 80px;
  left: 30%;
}
.hero_section .h4_div {
  width: 60vw;
  height: 200px;
  position: absolute;
  top: 150px;
  left: 20vw;
  text-align: center;
}
.hero_section .h4_div h4 {
  font-size: 20px;
  font-family: sans-serif;
}
.hero_section .search_div {
  width: 55vw;
  height: 200px;
  position: absolute;
  top: 260px;
  left: 21.5vw;
  text-align: center;
}
.hero_section .search_div input {
  font-size: 16px;
  font-family: sans-serif;
  height: 40px;
  width: 40vw;
  outline: none;
  border: 1px solid black;
}
.hero_section .search_div button {
  height: 50px;
  width: 10vw;
  border-radius: 5px;
  border: 1px solid black;
  margin: 0px;
  background-color: red;
  position: absolute;
  top: -5px;
  left: 40vw;
  border: 1px solid red;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}
@media only screen and (min-width: 250px) and (max-width: 500px) {
  .hero_section h1 {
    font-size: 6vw;
    font-family: sans-serif;
    left: 14.7%;
  }
  .hero_section .h4_div {
    width: 90vw;
    height: 200px;
    position: absolute;
    top: 150px;
    left: 5vw;
  }
  .hero_section .h4_div h4 {
    font-size: 4vw;
    font-family: sans-serif;
  }
  .hero_section .search_div {
    width: 90vw;
    height: 100px;
    position: absolute;
    top: 300px;
    left: 5vw;
  }
  .hero_section .search_div input {
    font-size: 2.7vw;
    font-family: sans-serif;
    width: 60vw;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .hero_section .search_div button {
    position: absolute;
    top: -5px;
    left: 60vw;
    width: 30vw;
    font-size: 4vw;
    font-family: sans-serif;
  }
}
.second_hero_section {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 100%;
  left: 0px;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  display: inline-block;
}
.second_hero_section img {
  width: 50vw;
  height: auto;
  position: absolute;
  top: 20px;
  left: 47vw;
}
.second_hero_section div {
  width: 50vw;
  height: auto;
  position: absolute;
  top: 80px;
  left: 5vw;
}
.second_hero_section div p {
  font-size: 40px;
  font-family: sans-serif;
  color: black;
  font-weight: 700;
}
@media only screen and (min-width: 250px) and (max-width: 500px) {
  .second_hero_section div {
    width: 85vw;
    height: auto;
    position: absolute;
    top: 30px;
    left: 8vw;
  }
  .second_hero_section div p {
    font-size: 5vw;
    font-family: sans-serif;
  }
  .second_hero_section img {
    width: 90vw;
    height: auto;
    position: absolute;
    top: 190px;
    left: 5vw;
  }
}
.browse_phones {
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 1100px;
  left: 0px;
  background-color: white;
}
.browse_phones h1 {
  width: 30vw;
  border-bottom: 4px solid black;
  text-align: center;
  font-size: 32px;
  font-family: sans-serif;
}
